openapi: 3.0.3
info:
  title: private/close-position
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /private/close-position:
    post:
      tags:
        - Trading
      x-apply-to:
        - rest
        - ws-user-api
      summary: private/close-position
      description: |
        Cancels position for a particular instrument/pair (asynchronous).

        This call is asynchronous, so the response is simply a confirmation of the request.

        The `user.order` subscription can be used to check when the order is successfully canceled.
      operationId: privateClosePosition
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({
              apiKey: 'YOUR_API_KEY',
              secret: 'YOUR_SECRET',
              enableRateLimit: true,
            });
            const res = await exchange.v1PrivatePostPrivateClosePosition({
              instrument_name: 'BTCUSD-PERP',
              type: 'LIMIT',
              price: '30000.0',
              quantity: '1000',
            });
            console.log(res);
        - lang: Python
          label: Python
          source: |
            import ccxt
            exchange = ccxt.cryptocom({
                'apiKey': 'YOUR_API_KEY',
                'secret': 'YOUR_SECRET',
                'enableRateLimit': True,
            })
            res = exchange.v1_private_post_private_close_position({
                'instrument_name': 'BTCUSD-PERP',
                'type': 'LIMIT',
                'price': '30000.0',
                'quantity': '1000',
            })
            print(res)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateClosePositionRequest"
            example:
              id: "1"
              method: private/close-position
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: "1610905028000"
              params:
                instrument_name: BTCUSD-PERP
                type: LIMIT
                price: "30000.0"
                quantity: "1000"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateClosePositionResponse"
              example:
                id: "1"
                method: private/close-position
                code: "0"
                result:
                  client_oid: 1684d6e4-2c55-64e1-52c3-3aa9febc3a23
                  order_id: "15744"
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateClosePositionResponse"
              example:
                id: "1"
                method: private/close-position
                code: "40001"
                message: BAD_REQUEST
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateClosePositionResponse"
              example:
                id: "1"
                method: private/close-position
                code: "40101"
                message: UNAUTHORIZED
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateClosePositionResponse"
              example:
                id: "1"
                method: private/close-position
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateClosePositionResponse"
              example:
                id: "1"
                method: private/close-position
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateClosePositionResponse"
              example:
                id: "1"
                method: private/close-position
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateClosePositionRequest:
      type: object
      x-archetype: Request
      required:
        - id
        - method
        - api_key
        - sig
        - nonce
        - params
      description: Request body for private/close-position.
      properties:
        id:
          type: string
          format: int64
          description: Request id (echoed in response)
        method:
          type: string
          description: Must be "private/close-position"
          example: private/close-position
        api_key:
          type: string
          description: Your API key (only required for private REST)
        sig:
          type: string
          description: HMAC-SHA256 signature in hex (only required for private REST)
        nonce:
          type: string
          format: int64
          description: Current timestamp in milliseconds, e.g. "1771761038000".
        params:
          type: object
          required:
            - instrument_name
            - type
          properties:
            instrument_name:
              type: string
              example: BTCUSD-PERP
              description: e.g. BTCUSD-PERP.
            type:
              $ref: "#/components/schemas/ClosePositionType"
            price:
              type: string
              format: decimal
              description: For LIMIT orders only. Must use decimal precision matching the instrument's `price_tick_size`.
            quantity:
              type: string
              format: decimal
              description: Positive number only. Only provide if intending to do partial closing.
            isolation_id:
              type: string
              description: Needed when closing an existing isolated position. If omitted, the non-isolated position will be closed.
    ClosePositionType:
      type: string
      enum:
        - LIMIT
        - MARKET
      description: LIMIT or MARKET
    PrivateClosePositionResponse:
      type: object
      description: |
        Response for private/close-position (HTTP 200/4xx/5xx).
        code === 0 → success, result present.
        code !== 0 → error, message and/or original present.
      properties:
        id:
          type: string
          format: int64
          description: Echoed request id
        method:
          type: string
          description: Method invoked
        code:
          type: string
          format: int32
          description: 0 = success; non-zero indicates error (reason code).
        result:
          type: object
          description: Present when code === 0. order_id, client_oid.
          properties:
            order_id:
              type: string
              format: int64
              description: Order ID
            client_oid:
              type: string
              description: Client Order ID
        message:
          type: string
          description: Present when code !== 0.
        original:
          type: string
          description: Present when code !== 0.
