openapi: 3.0.3
info:
  title: private/bot/get-trading-bot-executions
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /private/bot/get-trading-bot-executions:
    post:
      tags:
        - Trading Bot API
      x-apply-to:
        - rest
      summary: private/bot/get-trading-bot-executions
      description: Returns the order execution history for a specific Trading Bot.
      operationId: privateBotGetTradingBotExecutions
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({
              apiKey: 'YOUR_API_KEY',
              secret: 'YOUR_SECRET',
              enableRateLimit: true,
            });
            const res = await exchange.v1PrivatePostPrivateBotGetTradingBotExecutions({
              bot_id: 1,
              page: 0,
              page_size: 20
            });
            console.log(res);
        - lang: Python
          label: Python
          source: |
            import ccxt
            exchange = ccxt.cryptocom({
                'apiKey': 'YOUR_API_KEY',
                'secret': 'YOUR_SECRET',
                'enableRateLimit': True,
            })
            res = exchange.v1_private_post_private_bot_get_trading_bot_executions({
                'bot_id': 1,
                'page': 0,
                'page_size': 20
            })
            print(res)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateBotGetTradingBotExecutionsRequest"
            example:
              id: 1
              method: private/bot/get-trading-bot-executions
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: 1610905028000
              params:
                bot_id: 1
                page: 0
                page_size: 20
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotGetTradingBotExecutionsResponse"
              example:
                id: 1
                method: private/bot/get-trading-bot-executions
                code: 0
                result:
                  execution_list:
                    - instrument_name: BTC/USD
                      symbol: BTC_USD
                      execution_time: 1691510460000
                      schedule_time: 1691510400000
                      order_status: FILLED
                      side: BUY
                      price: "50000.00"
                      quantity: "0.01"
                      avg_price: "49950.00"
                      cum_qty: "0.01"
                      order_id: "12345678"
                      update_time: 1691510460000
                      executed_percentage: "100.00"
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotGetTradingBotExecutionsResponse"
              example:
                id: 1
                method: private/bot/get-trading-bot-executions
                code: "40001"
                message: BAD_REQUEST
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotGetTradingBotExecutionsResponse"
              example:
                id: 1
                method: private/bot/get-trading-bot-executions
                code: "40101"
                message: UNAUTHORIZED
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotGetTradingBotExecutionsResponse"
              example:
                id: 1
                method: private/bot/get-trading-bot-executions
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotGetTradingBotExecutionsResponse"
              example:
                id: 1
                method: private/bot/get-trading-bot-executions
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotGetTradingBotExecutionsResponse"
              example:
                id: 1
                method: private/bot/get-trading-bot-executions
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateBotGetTradingBotExecutionsRequest:
      type: object
      x-archetype: Request
      required:
        - id
        - method
        - api_key
        - sig
        - nonce
        - params
      description: Request body for private/bot/get-trading-bot-executions.
      properties:
        id:
          type: string
          format: int64
          description: Request id (echoed in response)
        method:
          type: string
          description: Must be "private/bot/get-trading-bot-executions"
          example: private/bot/get-trading-bot-executions
        api_key:
          type: string
          description: Your API key (only required for private REST)
        sig:
          type: string
          description: HMAC-SHA256 signature in hex (only required for private REST)
        nonce:
          type: string
          format: int64
          description: Current timestamp in milliseconds, e.g. "1610905028000".
        params:
          type: object
          required:
            - bot_id
          properties:
            bot_id:
              type: integer
              format: int64
              description: Trading Bot ID
              example: 1
            order_status:
              type: array
              items:
                $ref: "#/components/schemas/OrderStatus"
              description: Filter by order status
              example:
                - ACTIVE
                - CANCELED
                - FILLED
                - REJECTED
            basket_bot_filter:
              $ref: "#/components/schemas/BasketBotFilter"
            page:
              type: integer
              description: Page number
              default: 0
              example: 0
            page_size:
              type: integer
              description: Page size. Max 500.
              default: 20
              example: 20
    OrderStatus:
      type: string
      enum:
        - PENDING
        - NEW
        - ACTIVE
        - FILLED
        - CANCELED
        - REJECTED
        - EXPIRED
      description: Order status
    BasketBotFilter:
      type: object
      description: Filter for basket DCA bots
      properties:
        include_child_symbols:
          type: array
          items:
            type: string
          description: List of instrument symbols to include
          example:
            - BTC_USDT
            - ETH_USDT
    PrivateBotGetTradingBotExecutionsResponse:
      type: object
      x-archetype: Response
      description: Response for private/bot/get-trading-bot-executions.
      properties:
        id:
          type: string
          format: int64
          description: Original request identifier
        method:
          type: string
          description: Method name
          example: private/bot/get-trading-bot-executions
        code:
          type: string
          format: int32
          description: 0 for success; error code otherwise
        message:
          type: string
          description: Error message for non-zero codes
        result:
          type: object
          properties:
            execution_list:
              type: array
              items:
                $ref: "#/components/schemas/BotExecution"
              description: List of bot executions
    BotExecution:
      type: object
      description: Bot order execution information
      properties:
        instrument_name:
          type: string
          description: Instrument display name
          example: BTC/USD
        symbol:
          type: string
          description: Instrument symbol
          example: BTC_USD
        execution_time:
          type: integer
          format: int64
          description: Execution time in milliseconds (UTC)
          example: 1691510460000
        schedule_time:
          type: integer
          format: int64
          description: Scheduled execution time in milliseconds (UTC)
          example: 1691510400000
        order_status:
          $ref: "#/components/schemas/OrderStatus"
        side:
          type: string
          enum:
            - BUY
            - SELL
          description: Order side
          example: BUY
        price:
          type: string
          format: decimal
          description: Order price
          example: "50000.00"
        quantity:
          type: string
          format: decimal
          description: Order quantity
          example: "0.01"
        avg_price:
          type: string
          format: decimal
          description: Average fill price
          example: "49950.00"
        cum_qty:
          type: string
          format: decimal
          description: Cumulative filled quantity
          example: "0.01"
        order_id:
          type: string
          description: Exchange order ID
          example: "12345678"
        update_time:
          type: integer
          format: int64
          description: Last update time in milliseconds (UTC)
          example: 1691510460000
        executed_percentage:
          type: string
          format: decimal
          description: Percentage of the order quantity that has been filled
          example: "100.00"
