openapi: 3.0.3
info:
  title: private/get-account-settings
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /private/get-account-settings:
    post:
      tags:
        - Trading
      x-apply-to:
        - rest
      summary: private/get-account-settings
      description: Get account settings.
      operationId: privateGetAccountSettings
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({
              apiKey: 'YOUR_API_KEY',
              secret: 'YOUR_SECRET',
              enableRateLimit: true,
            });
            const res = await exchange.v1PrivatePostPrivateGetAccountSettings({});
            console.log(res);
        - lang: Python
          label: Python
          source: |
            import ccxt
            exchange = ccxt.cryptocom({
                'apiKey': 'YOUR_API_KEY',
                'secret': 'YOUR_SECRET',
                'enableRateLimit': True,
            })
            res = exchange.v1_private_post_private_get_account_settings({})
            print(res)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateGetAccountSettingsRequest"
            example:
              id: "697"
              method: private/get-account-settings
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: "1721989202781"
              params: {}
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateGetAccountSettingsResponse"
              example:
                id: "697"
                method: private/get-account-settings
                code: "0"
                result:
                  - leverage: "20"
                    stp_id: "100"
                    stp_scope: S
                    stp_inst: M
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateGetAccountSettingsResponse"
              example:
                id: "1"
                method: private/get-account-settings
                code: "40001"
                message: BAD_REQUEST
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateGetAccountSettingsResponse"
              example:
                id: "1"
                method: private/get-account-settings
                code: "40101"
                message: UNAUTHORIZED
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateGetAccountSettingsResponse"
              example:
                id: "1"
                method: private/get-account-settings
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateGetAccountSettingsResponse"
              example:
                id: "1"
                method: private/get-account-settings
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateGetAccountSettingsResponse"
              example:
                id: "1"
                method: private/get-account-settings
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateGetAccountSettingsRequest:
      type: object
      x-archetype: Request
      required:
        - id
        - method
        - api_key
        - sig
        - nonce
        - params
      description: Request body for private/get-account-settings.
      properties:
        id:
          type: string
          format: int64
          description: Request id (echoed in response)
        method:
          type: string
          description: Must be "private/get-account-settings"
          example: private/get-account-settings
        api_key:
          type: string
          description: Your API key (only required for private REST)
        sig:
          type: string
          description: HMAC-SHA256 signature in hex (only required for private REST)
        nonce:
          type: string
          format: int64
          description: Current timestamp in milliseconds, e.g. "1771761038000".
        params:
          type: object
          description: No parameters; use empty object {}
          additionalProperties: false
    PrivateGetAccountSettingsResponse:
      type: object
      description: |
        Response for private/get-account-settings (HTTP 200/4xx/5xx).
        code === 0 → success, result present.
        code !== 0 → error, message and/or original present.
      properties:
        id:
          type: string
          format: int64
          description: Echoed request id
        method:
          type: string
          description: Method invoked
        code:
          type: string
          format: int32
          description: 0 for successful changes.
        result:
          type: array
          description: Present when code === 0. result[] has leverage, stp_id, stp_scope, stp_inst per docs.
          items:
            type: object
            properties:
              leverage:
                type: string
                format: decimal
                description: The max leverage user set on the account. When account effective leverage exceeds this, further risk increasing orders will be rejected.
              stp_id:
                type: string
                format: int64
                description: Optional. 0 to 32767. If stp_scope and stp_inst not specified, REJECT. If stp_scope specified, default 0. Orderbook-specific settings take higher precedence.
              stp_scope:
                $ref: "#/components/schemas/StpScope"
              stp_inst:
                $ref: "#/components/schemas/StpInst"
        message:
          type: string
          description: Present when code !== 0.
        original:
          type: string
          description: Present when code !== 0.
    StpScope:
      type: string
      enum:
        - M
        - S
        - D
      description: |
        Self-trade prevention scope. Used in private/change-account-settings (params) and private/get-account-settings (result).
        - ➖ M: Matches Master or Sub a/c
        - ➖ S: Matches Sub a/c only
        - ➖ D: reset all STP fields to default (stp_inst and stp_id in same request are ignored).
    StpInst:
      type: string
      enum:
        - M
        - T
        - B
      description: |
        Self-trade prevention instruction. Used in private/change-account-settings (params) and private/get-account-settings (result). Mandatory if stp_scope is set.
        - ➖ M: Cancel Maker
        - ➖ T: Cancel Taker
        - ➖ B: Cancel Both Maker and Taker
