openapi: 3.0.3
info:
  title: private/bot/get-trading-bots
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /private/bot/get-trading-bots:
    post:
      tags:
        - Trading Bot API
      x-apply-to:
        - rest
      summary: private/bot/get-trading-bots
      description: Returns a list of Trading Bots filtered by type and state. Results are sorted by update time in descending order.
      operationId: privateBotGetTradingBots
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({
              apiKey: 'YOUR_API_KEY',
              secret: 'YOUR_SECRET',
              enableRateLimit: true,
            });
            const res = await exchange.v1PrivatePostPrivateBotGetTradingBots({
              bot_types: ['DCA', 'TWAP', 'GRID', 'FUNDING_ARBITRAGE'],
              state: ['RUNNING', 'PAUSED'],
              page: 0,
              page_size: 20
            });
            console.log(res);
        - lang: Python
          label: Python
          source: |
            import ccxt
            exchange = ccxt.cryptocom({
                'apiKey': 'YOUR_API_KEY',
                'secret': 'YOUR_SECRET',
                'enableRateLimit': True,
            })
            res = exchange.v1_private_post_private_bot_get_trading_bots({
                'bot_types': ['DCA', 'TWAP', 'GRID', 'FUNDING_ARBITRAGE'],
                'state': ['RUNNING', 'PAUSED'],
                'page': 0,
                'page_size': 20
            })
            print(res)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateBotGetTradingBotsRequest"
            example:
              id: 1
              method: private/bot/get-trading-bots
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: 1610905028000
              params:
                bot_types:
                  - DCA
                  - TWAP
                  - GRID
                  - FUNDING_ARBITRAGE
                state:
                  - RUNNING
                  - PAUSED
                page: 0
                page_size: 20
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotGetTradingBotsResponse"
              example:
                id: 1
                method: private/bot/get-trading-bots
                code: 0
                result:
                  bot_list:
                    - bot_id: "1"
                      bot_type: DCA
                      display_name: My DCA Bot
                      state: RUNNING
                      create_time: 1691510460000
                      update_time: 1691510460000
                      end_time: 0
                      settings:
                        is_basket: false
                        allocations:
                          - instrument_name: BTC_USDT
                            allocated_percentage: "100"
                        investment_currency: USDT
                        side: BUY
                        type: MARKET
                        auto_stake: false
                        quantity: "0.01"
                        investment_frequency_mode: FIXED_DURATION
                        investment_frequency: 300000
                        max_order: "10"
                        first_investment_time: 1691510460000
                      execution_summary:
                        executed_order: "5"
                        total_invested: "500"
                        total_quantity: "0.05"
                        avg_price: "10000"
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotGetTradingBotsResponse"
              example:
                id: 1
                method: private/bot/get-trading-bots
                code: "40001"
                message: BAD_REQUEST
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotGetTradingBotsResponse"
              example:
                id: 1
                method: private/bot/get-trading-bots
                code: "40101"
                message: UNAUTHORIZED
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotGetTradingBotsResponse"
              example:
                id: 1
                method: private/bot/get-trading-bots
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotGetTradingBotsResponse"
              example:
                id: 1
                method: private/bot/get-trading-bots
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotGetTradingBotsResponse"
              example:
                id: 1
                method: private/bot/get-trading-bots
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateBotGetTradingBotsRequest:
      type: object
      x-archetype: Request
      required:
        - id
        - method
        - api_key
        - sig
        - nonce
        - params
      description: Request body for private/bot/get-trading-bots.
      properties:
        id:
          type: string
          format: int64
          description: Request id (echoed in response)
        method:
          type: string
          description: Must be "private/bot/get-trading-bots"
          example: private/bot/get-trading-bots
        api_key:
          type: string
          description: Your API key (only required for private REST)
        sig:
          type: string
          description: HMAC-SHA256 signature in hex (only required for private REST)
        nonce:
          type: string
          format: int64
          description: Current timestamp in milliseconds, e.g. "1610905028000".
        params:
          type: object
          required:
            - bot_types
          properties:
            bot_id:
              type: integer
              format: int64
              description: Find by Trading Bot ID. When provided, state is not required.
              example: 1
            bot_types:
              type: array
              items:
                $ref: "#/components/schemas/BotType"
              description: Filter by bot type
              example:
                - DCA
                - TWAP
                - GRID
                - FUNDING_ARBITRAGE
            state:
              type: array
              items:
                $ref: "#/components/schemas/BotState"
              description: Filter by bot state. Required when bot_id is not provided.
              example:
                - RUNNING
                - PAUSED
            page:
              type: integer
              description: Page number
              default: 0
              example: 0
            page_size:
              type: integer
              description: Page size. Max 500.
              default: 20
              example: 20
    BotType:
      type: string
      enum:
        - DCA
        - TWAP
        - GRID
        - FUNDING_ARBITRAGE
      description: |
        Trading bot type:
        - DCA: Dollar Cost Averaging
        - TWAP: Time-Weighted Average Price
        - GRID: Grid trading
        - FUNDING_ARBITRAGE: Funding arbitrage
    BotState:
      type: string
      enum:
        - RUNNING
        - PAUSED
        - TERMINATED
      description: |
        Trading bot state:
        - RUNNING: Bot is actively placing orders
        - PAUSED: Bot is paused and not placing orders
        - TERMINATED: Bot has been permanently stopped
    PrivateBotGetTradingBotsResponse:
      type: object
      x-archetype: Response
      description: Response for private/bot/get-trading-bots.
      properties:
        id:
          type: string
          format: int64
          description: Original request identifier
        method:
          type: string
          description: Method name
          example: private/bot/get-trading-bots
        code:
          type: string
          format: int32
          description: 0 for success; error code otherwise
        message:
          type: string
          description: Error message for non-zero codes
        result:
          type: object
          properties:
            bot_list:
              type: array
              items:
                $ref: "#/components/schemas/BotInfo"
              description: List of trading bots
    BotInfo:
      type: object
      description: Trading Bot information
      properties:
        bot_id:
          type: string
          description: Trading Bot ID
          example: "1"
        bot_type:
          $ref: "#/components/schemas/BotType"
        display_name:
          type: string
          description: Display name of the trading bot
          example: My DCA Bot
        state:
          $ref: "#/components/schemas/BotState"
        reason:
          type: string
          description: Termination reason (only present for terminated bots)
          example: User terminated
        create_time:
          type: integer
          format: int64
          description: Create time in milliseconds (UTC)
          example: 1691510460000
        update_time:
          type: integer
          format: int64
          description: Last update time in milliseconds (UTC)
          example: 1691510460000
        end_time:
          type: integer
          format: int64
          description: End time in milliseconds (UTC). 0 if still active.
          example: 0
        migrated:
          type: boolean
          description: Whether the bot was migrated
          example: false
        settings:
          oneOf:
            - $ref: "#/components/schemas/DcaBotSettings"
              x-discriminator-value: DCA
            - $ref: "#/components/schemas/TwapBotSettings"
              x-discriminator-value: TWAP
            - $ref: "#/components/schemas/GridBotSettings"
              x-discriminator-value: GRID
            - $ref: "#/components/schemas/FundingArbitrageBotSettings"
              x-discriminator-value: FUNDING_ARBITRAGE
          x-sibling-discriminator:
            propertyPath: bot_type
          description: Bot-type-specific settings
        execution_summary:
          type: object
          description: Bot execution summary (varies by bot type)
          additionalProperties: true
          example:
            executed_order: "5"
            total_invested: "500"
            total_quantity: "0.05"
            avg_price: "10000"
    DcaBotSettings:
      type: object
      description: Settings for DCA bot
      required:
        - is_basket
        - allocations
        - investment_currency
        - investment_frequency_mode
      properties:
        is_basket:
          type: boolean
          description: Whether this is a basket DCA bot (multiple instruments)
          example: false
        allocations:
          type: array
          description: Array of instrument allocations
          items:
            $ref: "#/components/schemas/DcaAllocation"
        investment_currency:
          type: string
          description: Currency used for investment
          example: USDT
        side:
          type: string
          enum:
            - BUY
            - SELL
          description: BUY or SELL. Required when is_basket is false
        type:
          type: string
          enum:
            - MARKET
            - LIMIT
          description: MARKET or LIMIT. Required when is_basket is false
        auto_stake:
          type: boolean
          description: Whether to automatically stake earned tokens. Required when is_basket is false
        price:
          type: string
          format: decimal
          description: Limit price. Required when type is LIMIT
        quantity:
          type: string
          format: decimal
          description: Quantity per order. Either quantity or total_investment is required
        total_investment:
          type: string
          format: decimal
          description: Total investment amount. Either quantity or total_investment is required
        investment_frequency_mode:
          $ref: "#/components/schemas/InvestmentFrequencyMode"
        investment_frequency:
          type: integer
          format: int64
          description: Interval between orders in milliseconds. Required when investment_frequency_mode is FIXED_DURATION
          example: 300000
        first_investment_time:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds for the first order
          example: 1691510460000
        investment_duration:
          type: integer
          format: int64
          description: Total duration. In number of months when `investment_frequency_mode` is `MONTHLY`; in milliseconds when `FIXED_DURATION`.
        max_order:
          type: string
          description: Maximum number of orders to place
          example: "10"
        stop_price:
          type: string
          format: decimal
          description: Stop-loss price. Not supported for basket bots
        take_profit_price:
          type: string
          format: decimal
          description: Take-profit price. Not supported for basket bots
        simplified_mode:
          type: boolean
          description: Whether to use simplified mode
    DcaAllocation:
      type: object
      description: Allocation for DCA basket bot
      required:
        - instrument_name
        - allocated_percentage
      properties:
        instrument_name:
          type: string
          description: Instrument name
          example: BTC_USDT
        allocated_percentage:
          type: string
          format: decimal
          description: Percentage allocated (must sum to 100 across all allocations)
          example: "100"
    InvestmentFrequencyMode:
      type: string
      enum:
        - FIXED_DURATION
        - MONTHLY
      description: |
        Investment frequency mode for DCA bots:
        - FIXED_DURATION: Fixed interval in milliseconds
        - MONTHLY: Monthly investment
    TwapBotSettings:
      type: object
      description: Settings for TWAP bot
      required:
        - instrument_name
        - side
        - type
        - quantity
        - start_time_millis
        - end_time_millis
      properties:
        instrument_name:
          type: string
          description: Instrument name
          example: BTC_USDT
        side:
          type: string
          enum:
            - BUY
            - SELL
          description: BUY or SELL
        type:
          type: string
          enum:
            - MARKET
            - LIMIT
          description: MARKET or LIMIT
        price:
          type: string
          format: decimal
          description: Limit price. Required when type is LIMIT
        quantity:
          type: string
          format: decimal
          description: Total quantity to execute
          example: "1.0"
        start_time_millis:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds for the start of execution
          example: 1691510460000
        end_time_millis:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds for the end of execution
          example: 1691596860000
    GridBotSettings:
      type: object
      description: Settings for Grid bot
      required:
        - instrument_name
        - total_investment
        - lower_price
        - upper_price
        - grid_mode
        - grid_no
        - margin_enabled
        - trailing_up_enabled
      properties:
        instrument_name:
          type: string
          description: Instrument name
          example: BTC_USDT
        total_investment:
          type: string
          format: decimal
          description: Total investment amount in quote currency
          example: "1000"
        lower_price:
          type: string
          format: decimal
          description: Lower bound of the grid price range
          example: "25000"
        upper_price:
          type: string
          format: decimal
          description: Upper bound of the grid price range
          example: "35000"
        grid_mode:
          $ref: "#/components/schemas/GridMode"
        grid_no:
          type: integer
          description: Number of grid levels (minimum 2)
          example: 10
        margin_enabled:
          type: boolean
          description: Whether margin is enabled
          example: false
        trailing_up_enabled:
          type: boolean
          description: Whether trailing-up is enabled
          example: false
        stop_price:
          type: string
          format: decimal
          description: Stop-loss price
        take_profit_price:
          type: string
          format: decimal
          description: Take-profit price
        trailing_up_price_cap:
          type: string
          format: decimal
          description: Maximum price cap for trailing-up
    GridMode:
      type: string
      enum:
        - ARITHMETIC
        - GEOMETRIC
      description: |
        Grid mode:
        - ARITHMETIC: Equal price intervals
        - GEOMETRIC: Geometric price intervals
    FundingArbitrageBotSettings:
      type: object
      description: Settings for Funding Arbitrage bot
      required:
        - total_investment
        - investment_currency
        - spot_leg
        - perp_leg
      properties:
        total_investment:
          type: string
          format: decimal
          description: Total investment amount
          example: "1000"
        investment_currency:
          type: string
          description: Currency used for investment
          example: USDT
        spot_leg:
          $ref: "#/components/schemas/TradingLeg"
        perp_leg:
          $ref: "#/components/schemas/TradingLeg"
    TradingLeg:
      type: object
      description: Trading leg for funding arbitrage
      required:
        - instrument_name
        - side
      properties:
        instrument_name:
          type: string
          description: Instrument name
          example: BTC_USDT
        side:
          type: string
          enum:
            - BUY
            - SELL
          description: BUY or SELL
