openapi: 3.0.3
info:
  title: private/staking/unstake
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /private/staking/unstake:
    post:
      tags:
        - Staking
      x-apply-to:
        - rest
      summary: private/staking/unstake
      description: Create a request to unlock staked token.
      operationId: privateStakingUnstake
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({
              apiKey: 'YOUR_API_KEY',
              secret: 'YOUR_SECRET',
              enableRateLimit: true,
            });
            const res = await exchange.v1PrivatePostPrivateStakingUnstake({
              instrument_name: 'SOL.staked',
              quantity: '1',
            });
            console.log(res);
        - lang: Python
          label: Python
          source: |
            import ccxt
            exchange = ccxt.cryptocom({
                'apiKey': 'YOUR_API_KEY',
                'secret': 'YOUR_SECRET',
                'enableRateLimit': True,
            })
            res = exchange.v1_private_post_private_staking_unstake({
                'instrument_name': 'SOL.staked',
                'quantity': '1',
            })
            print(res)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateStakingUnstakeRequest"
            example:
              id: "1"
              method: private/staking/unstake
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: "1739923200000"
              params:
                instrument_name: SOL.staked
                quantity: "1"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingUnstakeResponse"
              example:
                id: "1"
                method: private/staking/unstake
                code: "0"
                result:
                  staking_id: "1"
                  instrument_name: SOL.staked
                  status: NEW
                  quantity: "1"
                  underlying_inst_name: SOL
                  reason: NO_ERROR
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingUnstakeResponse"
              example:
                id: "1"
                method: private/staking/unstake
                code: "40001"
                message: BAD_REQUEST
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingUnstakeResponse"
              example:
                id: "1"
                method: private/staking/unstake
                code: "40101"
                message: UNAUTHORIZED
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingUnstakeResponse"
              example:
                id: "1"
                method: private/staking/unstake
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingUnstakeResponse"
              example:
                id: "1"
                method: private/staking/unstake
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingUnstakeResponse"
              example:
                id: "1"
                method: private/staking/unstake
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateStakingUnstakeRequest:
      type: object
      x-archetype: Request
      required:
        - id
        - method
        - api_key
        - sig
        - nonce
        - params
      description: Request body for private/staking/unstake.
      properties:
        id:
          type: string
          format: int64
          description: Request id (echoed in response)
        method:
          type: string
          description: Must be "private/staking/unstake"
          example: private/staking/unstake
        api_key:
          type: string
          description: Your API key (only required for private REST)
        sig:
          type: string
          description: HMAC-SHA256 signature in hex (only required for private REST)
        nonce:
          type: string
          format: int64
          description: Current timestamp in milliseconds, e.g. "1771761038000".
        params:
          type: object
          required:
            - instrument_name
            - quantity
          properties:
            instrument_name:
              type: string
              example: SOL.staked
              description: Staking instrument name, e.g. SOL.staked.
            quantity:
              type: string
              format: decimal
              description: Unstake quantity. For yield-bearing instruments, quantity in terms of original staked token. E.g. for TSTON.staked, specify the TSTON.staked quantity to unstake; you will receive the equivalent in TON when the request completes.
    PrivateStakingUnstakeResponse:
      type: object
      description: |
        Response for private/staking/unstake (HTTP 200/4xx/5xx).
        code === 0 → success, result present.
        code !== 0 → error, message and/or original present.
      properties:
        id:
          type: string
          format: int64
          description: Echoed request id
        method:
          type: string
          description: Method invoked
        code:
          type: string
          format: int32
          description: 0 = success; non-zero indicates error (reason code).
        result:
          type: object
          description: Present when code === 0. staking_id, instrument_name, status, quantity, underlying_inst_name, reason.
          properties:
            staking_id:
              type: string
              description: Request id
            instrument_name:
              type: string
              description: Staking instrument name, e.g. SOL.staked
            status:
              $ref: "#/components/schemas/StakingStatus"
            quantity:
              type: string
              format: decimal
              description: Unstake quantity. For yield-bearing instruments, in terms of original staked token. E.g. for TSTON.staked, this shows the quantity of TON you will receive when the request completes.
            underlying_inst_name:
              type: string
              description: Underlying instrument name, e.g. SOL
            reason:
              type: string
              description: Reason for the status, e.g. NO_ERROR
        message:
          type: string
          description: Present when code !== 0.
        original:
          type: string
          description: Present when code !== 0.
    StakingStatus:
      type: string
      enum:
        - NEW
        - PENDING
        - PENDING_WITHDRAWAL
        - PENDING_UNSTAKING
        - STAKED
        - COMPLETED
        - REJECTED
      description: |
        - Possible values:
        - ➖ NEW: Request created
        - ➖ PENDING: In progress
        - ➖ PENDING_WITHDRAWAL: Withdrawal pending
        - ➖ PENDING_UNSTAKING: Unstaking pending
        - ➖ STAKED: Staked
        - ➖ COMPLETED: Completed
        - ➖ REJECTED: Rejected
        - Possible values by operations:
        - ➖ private/staking/stake: NEW, PENDING, STAKED, COMPLETED, REJECTED
        - ➖ private/staking/unstake: NEW, PENDING, PENDING_WITHDRAWAL, PENDING_UNSTAKING, STAKED, COMPLETED, REJECTED
        - ➖ private/staking/get-open-stake: NEW, PENDING, PENDING_WITHDRAWAL, PENDING_UNSTAKING, STAKED
        - ➖ private/staking/get-stake-history: COMPLETED, REJECTED
