openapi: 3.0.3
info:
  title: private/staking/get-open-convert
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /private/staking/get-open-convert:
    post:
      tags:
        - Staking
      x-apply-to:
        - rest
      summary: private/staking/get-open-convert
      description: Get convert request that status is not in final state.
      operationId: privateStakingGetOpenConvert
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({
              apiKey: 'YOUR_API_KEY',
              secret: 'YOUR_SECRET',
              enableRateLimit: true,
            });
            const res = await exchange.v1PrivatePostPrivateStakingGetOpenConvert({
              start_time: "1691455454495",
              end_time: "1691545277000",
              limit: '10',
            });
            console.log(res);
        - lang: Python
          label: Python
          source: |
            import ccxt
            exchange = ccxt.cryptocom({
                'apiKey': 'YOUR_API_KEY',
                'secret': 'YOUR_SECRET',
                'enableRateLimit': True,
            })
            res = exchange.v1_private_post_private_staking_get_open_convert({
                'start_time': "1691455454495",
                'end_time': "1691545277000",
                'limit': '10',
            })
            print(res)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateStakingGetOpenConvertRequest"
            example:
              id: "1"
              method: private/staking/get-open-convert
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: "1739923200000"
              params:
                start_time: "1691455454495"
                end_time: "1691545277000"
                limit: "10"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingGetOpenConvertResponse"
              example:
                id: "1"
                method: private/staking/get-open-convert
                code: "0"
                result:
                  data:
                    - from_instrument_name: ETH.staked
                      to_instrument_name: CDCETH
                      expected_rate: "1.0203"
                      from_quantity: "3.14159265"
                      slippage_tolerance_bps: "3"
                      actual_rate: "1.0203"
                      to_quantity: "3.14159265"
                      convert_id: "1"
                      status: COMPLETED
                      create_timestamp_ms: "1688140984005"
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingGetOpenConvertResponse"
              example:
                id: "1"
                method: private/staking/get-open-convert
                code: "40001"
                message: BAD_REQUEST
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingGetOpenConvertResponse"
              example:
                id: "1"
                method: private/staking/get-open-convert
                code: "40101"
                message: UNAUTHORIZED
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingGetOpenConvertResponse"
              example:
                id: "1"
                method: private/staking/get-open-convert
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingGetOpenConvertResponse"
              example:
                id: "1"
                method: private/staking/get-open-convert
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingGetOpenConvertResponse"
              example:
                id: "1"
                method: private/staking/get-open-convert
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateStakingGetOpenConvertRequest:
      type: object
      x-archetype: Request
      required:
        - id
        - method
        - api_key
        - sig
        - nonce
        - params
      description: Request body for private/staking/get-open-convert.
      properties:
        id:
          type: string
          format: int64
          description: Request id (echoed in response)
        method:
          type: string
          description: Must be "private/staking/get-open-convert"
          example: private/staking/get-open-convert
        api_key:
          type: string
          description: Your API key (only required for private REST)
        sig:
          type: string
          description: HMAC-SHA256 signature in hex (only required for private REST)
        nonce:
          type: string
          format: int64
          description: Current timestamp in milliseconds, e.g. "1771761038000".
        params:
          type: object
          properties:
            start_time:
              type: string
              format: int64
              description: "Start time in Unix format (inclusive), ms or ns. Default: end_time - 30 days. Min: end_time - 180 days."
            end_time:
              type: string
              format: int64
              description: "End time in Unix format (inclusive), ms or ns. Default: current system timestamp."
            limit:
              type: string
              format: int32
              description: "Max number of requests returned. Default: 20. Max: 500."
    PrivateStakingGetOpenConvertResponse:
      type: object
      description: |
        Response for private/staking/get-open-convert (HTTP 200/4xx/5xx).
        code === 0 → success, result present.
        code !== 0 → error, message and/or original present.
      properties:
        id:
          type: string
          format: int64
          description: Echoed request id
        method:
          type: string
          description: Method invoked
        code:
          type: string
          format: int32
          description: 0 = success; non-zero indicates error (reason code).
        result:
          type: object
          description: Present when code === 0. data array of open convert entries.
          properties:
            data:
              type: array
              description: List of open convert entries.
              items:
                $ref: "#/components/schemas/StakingOpenConvertItem"
        message:
          type: string
          description: Present when code !== 0.
        original:
          type: string
          description: Present when code !== 0.
    StakingOpenConvertItem:
      type: object
      description: One open convert entry in private/staking/get-open-convert result.data.
      properties:
        from_instrument_name:
          type: string
          description: Instrument name to convert from, e.g. ETH.staked or CDCETH
        to_instrument_name:
          type: string
          description: Instrument name to convert to, e.g. CDCETH
        expected_rate:
          type: string
          format: decimal
          description: Expected conversion rate
        from_quantity:
          type: string
          format: decimal
          description: Quantity to be converted in from_instrument_name
        slippage_tolerance_bps:
          type: string
          format: int32
          description: Maximum slippage allowed in basis point
        actual_rate:
          type: string
          format: decimal
          description: Actual conversion rate
        to_quantity:
          type: string
          format: decimal
          description: Quantity converted to to_instrument_name
        convert_id:
          type: string
          description: Convert request id
        status:
          $ref: "#/components/schemas/ConvertStatus"
        create_timestamp_ms:
          type: string
          format: int64
          description: Request creation timestamp in milliseconds in Unix time format.
    ConvertStatus:
      type: string
      enum:
        - NEW
        - COMPLETED
        - REJECTED
      description: |
        Status of a convert request (used wherever convert_id is present).
        - ➖ NEW: Request created
        - ➖ COMPLETED: Conversion completed
        - ➖ REJECTED: Conversion rejected
        - Possible values by operations:
        - ➖ private/staking/get-open-convert: NEW
        - ➖ private/staking/get-convert-history: COMPLETED, REJECTED
