openapi: 3.0.3
info:
  title: private/staking/convert
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /private/staking/convert:
    post:
      tags:
        - Staking
      x-apply-to:
        - rest
      summary: private/staking/convert
      description: Create a request to convert between staked token with liquid staking token.
      operationId: privateStakingConvert
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({
              apiKey: 'YOUR_API_KEY',
              secret: 'YOUR_SECRET',
              enableRateLimit: true,
            });
            const res = await exchange.v1PrivatePostPrivateStakingConvert({
              from_instrument_name: 'ETH.staked',
              to_instrument_name: 'CDCETH',
              expected_rate: '1.0203',
              from_quantity: '3.14159265',
              slippage_tolerance_bps: '3',
            });
            console.log(res);
        - lang: Python
          label: Python
          source: |
            import ccxt
            exchange = ccxt.cryptocom({
                'apiKey': 'YOUR_API_KEY',
                'secret': 'YOUR_SECRET',
                'enableRateLimit': True,
            })
            res = exchange.v1_private_post_private_staking_convert({
                'from_instrument_name': 'ETH.staked',
                'to_instrument_name': 'CDCETH',
                'expected_rate': '1.0203',
                'from_quantity': '3.14159265',
                'slippage_tolerance_bps': '3',
            })
            print(res)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateStakingConvertRequest"
            example:
              id: "1"
              method: private/staking/convert
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: "1739923200000"
              params:
                from_instrument_name: ETH.staked
                to_instrument_name: CDCETH
                expected_rate: "1.0203"
                from_quantity: "3.14159265"
                slippage_tolerance_bps: "3"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingConvertResponse"
              example:
                id: "1"
                method: private/staking/convert
                code: "0"
                result:
                  from_instrument_name: ETH.staked
                  to_instrument_name: CDCETH
                  expected_rate: "1.0203"
                  from_quantity: "3.14159265"
                  slippage_tolerance_bps: "3"
                  convert_id: "1"
                  reason: NO_ERROR
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingConvertResponse"
              example:
                id: "1"
                method: private/staking/convert
                code: "40001"
                message: BAD_REQUEST
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingConvertResponse"
              example:
                id: "1"
                method: private/staking/convert
                code: "40101"
                message: UNAUTHORIZED
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingConvertResponse"
              example:
                id: "1"
                method: private/staking/convert
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingConvertResponse"
              example:
                id: "1"
                method: private/staking/convert
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingConvertResponse"
              example:
                id: "1"
                method: private/staking/convert
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateStakingConvertRequest:
      type: object
      x-archetype: Request
      required:
        - id
        - method
        - api_key
        - sig
        - nonce
        - params
      description: Request body for private/staking/convert.
      properties:
        id:
          type: string
          format: int64
          description: Request id (echoed in response)
        method:
          type: string
          description: Must be "private/staking/convert"
          example: private/staking/convert
        api_key:
          type: string
          description: Your API key (only required for private REST)
        sig:
          type: string
          description: HMAC-SHA256 signature in hex (only required for private REST)
        nonce:
          type: string
          format: int64
          description: Current timestamp in milliseconds, e.g. "1771761038000".
        params:
          type: object
          required:
            - from_instrument_name
            - to_instrument_name
            - expected_rate
            - from_quantity
            - slippage_tolerance_bps
          properties:
            from_instrument_name:
              type: string
              description: Instrument name to convert from, e.g. ETH.staked or CDCETH.
            to_instrument_name:
              type: string
              description: "Instrument name to convert to: CDCETH if from is ETH.staked, ETH.staked if from is CDCETH."
            expected_rate:
              type: string
              format: decimal
              description: Expected conversion rate, from public/staking/get-conversion-rate.
            from_quantity:
              type: string
              format: decimal
              description: Quantity to be converted in from_instrument_name.
            slippage_tolerance_bps:
              type: string
              format: decimal
              description: Maximum slippage allowed in basis point.
    PrivateStakingConvertResponse:
      type: object
      description: |
        Response for private/staking/convert (HTTP 200/4xx/5xx).
        code === 0 → success, result present.
        code !== 0 → error, message and/or original present.
      properties:
        id:
          type: string
          format: int64
          description: Echoed request id
        method:
          type: string
          description: Method invoked
        code:
          type: string
          format: int32
          description: 0 = success; non-zero indicates error (reason code).
        result:
          type: object
          description: Present when code === 0. from_instrument_name, to_instrument_name, expected_rate, from_quantity, slippage_tolerance_bps, convert_id, reason per doc.
          properties:
            from_instrument_name:
              type: string
              description: Instrument name to convert from, e.g. ETH.staked
            to_instrument_name:
              type: string
              description: Instrument name to convert to, e.g. CDCETH
            expected_rate:
              type: string
              format: decimal
              description: Expected conversion rate
            from_quantity:
              type: string
              format: decimal
              description: Quantity to be converted in from_instrument_name
            slippage_tolerance_bps:
              type: string
              format: int32
              description: Maximum slippage allowed in basis point
            convert_id:
              type: string
              description: Convert request id
            reason:
              type: string
              description: Reason for the status, e.g. NO_ERROR
        message:
          type: string
          description: Present when code !== 0.
        original:
          type: string
          description: Present when code !== 0.
