openapi: 3.0.3
info:
  title: private/bot/create-trading-bot (FUNDING_ARBITRAGE)
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /private/bot/create-trading-bot:
    post:
      tags:
        - Trading Bot API
      x-apply-to:
        - rest
      summary: private/bot/create-trading-bot (FUNDING_ARBITRAGE)
      description: |
        Creates a new Funding Arbitrage Trading Bot that simultaneously holds a spot position and an opposing perpetual swap position to capture funding rate income.
      operationId: privateBotCreateTradingBot_FUNDING_ARBITRAGE
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript
          x-discriminator-value: FUNDING_ARBITRAGE
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({
              apiKey: 'YOUR_API_KEY',
              secret: 'YOUR_SECRET',
              enableRateLimit: true,
            });
            // Funding Arbitrage Bot: Spot + Perp hedge
            const res = await exchange.v1PrivatePostPrivateBotCreateTradingBot({
              bot_type: 'FUNDING_ARBITRAGE',
              notify_on_bot_change: true,
              settings: {
                total_investment: '5000',
                investment_currency: 'USDT',
                spot_leg: {
                  instrument_name: 'BTC_USDT',
                  side: 'BUY'
                },
                perp_leg: {
                  instrument_name: 'BTCUSD-PERP',
                  side: 'SELL'
                }
              }
            });
            console.log(res);
        - lang: Python
          label: Python
          x-discriminator-value: FUNDING_ARBITRAGE
          source: |
            import ccxt
            exchange = ccxt.cryptocom({
                'apiKey': 'YOUR_API_KEY',
                'secret': 'YOUR_SECRET',
                'enableRateLimit': True,
            })
            # Funding Arbitrage Bot: Spot + Perp hedge
            res = exchange.v1_private_post_private_bot_create_trading_bot({
                'bot_type': 'FUNDING_ARBITRAGE',
                'notify_on_bot_change': True,
                'settings': {
                    'total_investment': '5000',
                    'investment_currency': 'USDT',
                    'spot_leg': {
                        'instrument_name': 'BTC_USDT',
                        'side': 'BUY'
                    },
                    'perp_leg': {
                        'instrument_name': 'BTCUSD-PERP',
                        'side': 'SELL'
                    }
                }
            })
            print(res)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateBotCreateTradingBotRequest"
            example:
              id: 1
              method: private/bot/create-trading-bot
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: 1610905028000
              params:
                bot_type: FUNDING_ARBITRAGE
                notify_on_bot_change: true
                settings:
                  total_investment: "5000"
                  investment_currency: USDT
                  spot_leg:
                    instrument_name: BTC_USDT
                    side: BUY
                  perp_leg:
                    instrument_name: BTCUSD-PERP
                    side: SELL
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotCreateTradingBotResponse"
              example:
                id: 1
                method: private/bot/create-trading-bot
                code: 0
                result:
                  bot_id: "1"
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotCreateTradingBotResponse"
              example:
                id: 1
                method: private/bot/create-trading-bot
                code: "40001"
                message: BAD_REQUEST
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotCreateTradingBotResponse"
              example:
                id: 1
                method: private/bot/create-trading-bot
                code: "40101"
                message: UNAUTHORIZED
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotCreateTradingBotResponse"
              example:
                id: 1
                method: private/bot/create-trading-bot
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotCreateTradingBotResponse"
              example:
                id: 1
                method: private/bot/create-trading-bot
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotCreateTradingBotResponse"
              example:
                id: 1
                method: private/bot/create-trading-bot
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateBotCreateTradingBotRequest:
      type: object
      x-archetype: Request
      required:
        - id
        - method
        - api_key
        - sig
        - nonce
        - params
      description: Request body for private/bot/create-trading-bot.
      properties:
        id:
          type: string
          format: int64
          description: Request id (echoed in response)
        method:
          type: string
          description: Must be "private/bot/create-trading-bot"
          example: private/bot/create-trading-bot
        api_key:
          type: string
          description: Your API key (only required for private REST)
        sig:
          type: string
          description: HMAC-SHA256 signature in hex (only required for private REST)
        nonce:
          type: string
          format: int64
          description: Current timestamp in milliseconds, e.g. "1610905028000".
        params:
          type: object
          required:
            - bot_type
            - notify_on_bot_change
            - settings
          properties:
            bot_type:
              $ref: "#/components/schemas/BotType"
            notify_on_bot_change:
              type: boolean
              description: Whether to receive push notifications on bot state changes
              example: true
            display_name:
              type: string
              description: Display name of the trading bot. 4-15 characters; letters, numbers,
              example: My DCA Bot
            settings:
              oneOf:
                - $ref: "#/components/schemas/DcaBotSettings"
                  x-discriminator-value: DCA
                - $ref: "#/components/schemas/TwapBotSettings"
                  x-discriminator-value: TWAP
                - $ref: "#/components/schemas/GridBotSettings"
                  x-discriminator-value: GRID
                - $ref: "#/components/schemas/FundingArbitrageBotSettings"
                  x-discriminator-value: FUNDING_ARBITRAGE
              x-sibling-discriminator:
                propertyPath: params.bot_type
              description: Bot-type-specific settings. Schema depends on bot_type parameter
    BotType:
      type: string
      enum:
        - DCA
        - TWAP
        - GRID
        - FUNDING_ARBITRAGE
      description: |
        Trading bot type:
        - DCA: Dollar Cost Averaging
        - TWAP: Time-Weighted Average Price
        - GRID: Grid trading
        - FUNDING_ARBITRAGE: Funding arbitrage
    DcaBotSettings:
      type: object
      description: Settings for DCA bot
      required:
        - is_basket
        - allocations
        - investment_currency
        - investment_frequency_mode
      properties:
        is_basket:
          type: boolean
          description: Whether this is a basket DCA bot (multiple instruments)
          example: false
        allocations:
          type: array
          description: Array of instrument allocations
          items:
            $ref: "#/components/schemas/DcaAllocation"
        investment_currency:
          type: string
          description: Currency used for investment
          example: USDT
        side:
          type: string
          enum:
            - BUY
            - SELL
          description: BUY or SELL. Required when is_basket is false
        type:
          type: string
          enum:
            - MARKET
            - LIMIT
          description: MARKET or LIMIT. Required when is_basket is false
        auto_stake:
          type: boolean
          description: Whether to automatically stake earned tokens. Required when is_basket is false
        price:
          type: string
          format: decimal
          description: Limit price. Required when type is LIMIT
        quantity:
          type: string
          format: decimal
          description: Quantity per order. Either quantity or total_investment is required
        total_investment:
          type: string
          format: decimal
          description: Total investment amount. Either quantity or total_investment is required
        investment_frequency_mode:
          $ref: "#/components/schemas/InvestmentFrequencyMode"
        investment_frequency:
          type: integer
          format: int64
          description: Interval between orders in milliseconds. Required when investment_frequency_mode is FIXED_DURATION
          example: 300000
        first_investment_time:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds for the first order
          example: 1691510460000
        investment_duration:
          type: integer
          format: int64
          description: Total duration. In number of months when `investment_frequency_mode` is `MONTHLY`; in milliseconds when `FIXED_DURATION`.
        max_order:
          type: string
          description: Maximum number of orders to place
          example: "10"
        stop_price:
          type: string
          format: decimal
          description: Stop-loss price. Not supported for basket bots
        take_profit_price:
          type: string
          format: decimal
          description: Take-profit price. Not supported for basket bots
        simplified_mode:
          type: boolean
          description: Whether to use simplified mode
    DcaAllocation:
      type: object
      description: Allocation for DCA basket bot
      required:
        - instrument_name
        - allocated_percentage
      properties:
        instrument_name:
          type: string
          description: Instrument name
          example: BTC_USDT
        allocated_percentage:
          type: string
          format: decimal
          description: Percentage allocated (must sum to 100 across all allocations)
          example: "100"
    InvestmentFrequencyMode:
      type: string
      enum:
        - FIXED_DURATION
        - MONTHLY
      description: |
        Investment frequency mode for DCA bots:
        - FIXED_DURATION: Fixed interval in milliseconds
        - MONTHLY: Monthly investment
    TwapBotSettings:
      type: object
      description: Settings for TWAP bot
      required:
        - instrument_name
        - side
        - type
        - quantity
        - start_time_millis
        - end_time_millis
      properties:
        instrument_name:
          type: string
          description: Instrument name
          example: BTC_USDT
        side:
          type: string
          enum:
            - BUY
            - SELL
          description: BUY or SELL
        type:
          type: string
          enum:
            - MARKET
            - LIMIT
          description: MARKET or LIMIT
        price:
          type: string
          format: decimal
          description: Limit price. Required when type is LIMIT
        quantity:
          type: string
          format: decimal
          description: Total quantity to execute
          example: "1.0"
        start_time_millis:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds for the start of execution
          example: 1691510460000
        end_time_millis:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds for the end of execution
          example: 1691596860000
    GridBotSettings:
      type: object
      description: Settings for Grid bot
      required:
        - instrument_name
        - total_investment
        - lower_price
        - upper_price
        - grid_mode
        - grid_no
        - margin_enabled
        - trailing_up_enabled
      properties:
        instrument_name:
          type: string
          description: Instrument name
          example: BTC_USDT
        total_investment:
          type: string
          format: decimal
          description: Total investment amount in quote currency
          example: "1000"
        lower_price:
          type: string
          format: decimal
          description: Lower bound of the grid price range
          example: "25000"
        upper_price:
          type: string
          format: decimal
          description: Upper bound of the grid price range
          example: "35000"
        grid_mode:
          $ref: "#/components/schemas/GridMode"
        grid_no:
          type: integer
          description: Number of grid levels (minimum 2)
          example: 10
        margin_enabled:
          type: boolean
          description: Whether margin is enabled
          example: false
        trailing_up_enabled:
          type: boolean
          description: Whether trailing-up is enabled
          example: false
        stop_price:
          type: string
          format: decimal
          description: Stop-loss price
        take_profit_price:
          type: string
          format: decimal
          description: Take-profit price
        trailing_up_price_cap:
          type: string
          format: decimal
          description: Maximum price cap for trailing-up
    GridMode:
      type: string
      enum:
        - ARITHMETIC
        - GEOMETRIC
      description: |
        Grid mode:
        - ARITHMETIC: Equal price intervals
        - GEOMETRIC: Geometric price intervals
    FundingArbitrageBotSettings:
      type: object
      description: Settings for Funding Arbitrage bot
      required:
        - total_investment
        - investment_currency
        - spot_leg
        - perp_leg
      properties:
        total_investment:
          type: string
          format: decimal
          description: Total investment amount
          example: "1000"
        investment_currency:
          type: string
          description: Currency used for investment
          example: USDT
        spot_leg:
          $ref: "#/components/schemas/TradingLeg"
        perp_leg:
          $ref: "#/components/schemas/TradingLeg"
    TradingLeg:
      type: object
      description: Trading leg for funding arbitrage
      required:
        - instrument_name
        - side
      properties:
        instrument_name:
          type: string
          description: Instrument name
          example: BTC_USDT
        side:
          type: string
          enum:
            - BUY
            - SELL
          description: BUY or SELL
    PrivateBotCreateTradingBotResponse:
      type: object
      x-archetype: Response
      description: Response for private/bot/create-trading-bot.
      properties:
        id:
          type: string
          format: int64
          description: Original request identifier
        method:
          type: string
          description: Method name
          example: private/bot/create-trading-bot
        code:
          type: string
          format: int32
          description: 0 for success; error code otherwise
        message:
          type: string
          description: Error message for non-zero codes
        result:
          type: object
          properties:
            bot_id:
              type: string
              description: Newly created Trading Bot ID
              example: "1"
