openapi: 3.0.3
info:
  title: private/fiat/fiat-transaction-quota
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /private/fiat/fiat-transaction-quota:
    post:
      tags:
        - Fiat Wallet
      x-apply-to:
        - rest
      summary: private/fiat/fiat-transaction-quota
      description: Retrieves transaction quota information for a specific payment network.
      operationId: privateFiatFiatTransactionQuota
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({
              apiKey: 'YOUR_API_KEY',
              secret: 'YOUR_SECRET',
              enableRateLimit: true,
            });
            const res = await exchange.v1PrivatePostPrivateFiatFiatTransactionQuota({
              payment_network: 'usd_cubix',
            });
            console.log(res);
        - lang: Python
          label: Python
          source: |
            import ccxt
            exchange = ccxt.cryptocom({
                'apiKey': 'YOUR_API_KEY',
                'secret': 'YOUR_SECRET',
                'enableRateLimit': True,
            })
            res = exchange.v1_private_post_private_fiat_fiat_transaction_quota({
                'payment_network': 'usd_cubix',
            })
            print(res)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateFiatFiatTransactionQuotaRequest"
            example:
              id: "123456"
              method: private/fiat/fiat-transaction-quota
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: "1640995200000"
              params:
                payment_network: usd_cubix
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateFiatFiatTransactionQuotaResponse"
              examples:
                Example - usd_cubix:
                  value:
                    id: "0"
                    method: private/fiat/fiat-transaction-quota
                    code: "0"
                    result:
                      details:
                        currency: USD
                        payment_network: usd_cubix
                        network_name: CUBIX
                        monthly_quota_in_usd:
                          currency: USD
                          amount: null
                        daily_quota_in_usd:
                          currency: USD
                          amount: "5000000.0"
                        used_monthly_quota_in_usd:
                          currency: USD
                          amount: "0.0"
                        used_daily_quota_in_usd:
                          currency: USD
                          amount: "0.0"
                        remaining_monthly_quota_in_usd:
                          currency: USD
                          amount: null
                        remaining_daily_quota_in_usd:
                          currency: USD
                          amount: "5000000.0"
                        minimum_withdrawal_amount_in_usd:
                          currency: USD
                          amount: "500.0"
                        monthly_quota:
                          currency: USD
                          amount: null
                        daily_quota:
                          currency: USD
                          amount: "5000000.0"
                        used_monthly_quota:
                          currency: USD
                          amount: "0.0"
                        used_daily_quota:
                          currency: USD
                          amount: "0.0"
                        remaining_monthly_quota:
                          currency: USD
                          amount: null
                        remaining_daily_quota:
                          currency: USD
                          amount: "5000000.0"
                        minimum_withdrawal_amount:
                          currency: USD
                          amount: "500.0"
                        currency_daily_quota:
                          currency: USD
                          amount: "10000000.0"
                        currency_monthly_quota:
                          currency: USD
                          amount: null
                        currency_used_daily_quota:
                          currency: USD
                          amount: "0.0"
                        currency_used_monthly_quota:
                          currency: USD
                          amount: "0.0"
                        currency_remaining_daily_quota:
                          currency: USD
                          amount: "10000000.0"
                        currency_remaining_monthly_quota:
                          currency: USD
                          amount: null
                        transactions_per_day: 10
                        transactions_per_month: 100
                        transactions_daily_count: 0
                        transactions_monthly_count: 0
                        remaining_transactions_daily_count: 10
                        remaining_transactions_monthly_count: 100
                        currency_transactions_per_day: 10
                        currency_transactions_per_month: 100
                        currency_transactions_daily_count: 0
                        currency_transactions_monthly_count: 0
                        currency_remaining_transactions_daily_count: 10
                        currency_remaining_transactions_monthly_count: 100
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateFiatFiatTransactionQuotaResponse"
              example:
                id: "1"
                method: private/fiat/fiat-transaction-quota
                code: "40001"
                message: BAD_REQUEST
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateFiatFiatTransactionQuotaResponse"
              example:
                id: "1"
                method: private/fiat/fiat-transaction-quota
                code: "40101"
                message: UNAUTHORIZED
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateFiatFiatTransactionQuotaResponse"
              example:
                id: "1"
                method: private/fiat/fiat-transaction-quota
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateFiatFiatTransactionQuotaResponse"
              example:
                id: "1"
                method: private/fiat/fiat-transaction-quota
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateFiatFiatTransactionQuotaResponse"
              example:
                id: "1"
                method: private/fiat/fiat-transaction-quota
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateFiatFiatTransactionQuotaRequest:
      type: object
      x-archetype: Request
      required:
        - id
        - method
        - api_key
        - sig
        - nonce
        - params
      description: Request body for private/fiat/fiat-transaction-quota.
      properties:
        id:
          type: string
          format: int64
          description: Request id (echoed in response)
        method:
          type: string
          description: Must be "private/fiat/fiat-transaction-quota"
          example: private/fiat/fiat-transaction-quota
        api_key:
          type: string
          description: Your API key (only required for private REST)
        sig:
          type: string
          description: HMAC-SHA256 signature in hex (only required for private REST)
        nonce:
          type: string
          format: int64
          description: Current timestamp in milliseconds, e.g. "1771761038000".
        params:
          type: object
          required:
            - payment_network
          properties:
            payment_network:
              type: string
              description: Payment network identifier.
    PrivateFiatFiatTransactionQuotaResponse:
      type: object
      description: |
        Response for private/fiat/fiat-transaction-quota (HTTP 200/4xx/5xx).
        code === 0 → success, result present.
        code !== 0 → error, message and/or original present.
      properties:
        id:
          type: string
          format: int64
          description: Echoed request id
        method:
          type: string
          description: Method invoked
        code:
          type: string
          format: int32
          description: 0 = success; non-zero indicates error (reason code).
        result:
          type: object
          description: Present when code === 0. details per docs.
          required:
            - details
          properties:
            details:
              type: object
              description: Detailed quota information. See properties below.
              required:
                - currency
                - payment_network
                - network_name
                - monthly_quota_in_usd
                - daily_quota_in_usd
                - used_monthly_quota_in_usd
                - used_daily_quota_in_usd
                - remaining_monthly_quota_in_usd
                - remaining_daily_quota_in_usd
                - minimum_withdrawal_amount_in_usd
                - monthly_quota
                - daily_quota
                - used_monthly_quota
                - used_daily_quota
                - remaining_monthly_quota
                - remaining_daily_quota
                - minimum_withdrawal_amount
                - currency_daily_quota
                - currency_monthly_quota
                - currency_used_daily_quota
                - currency_used_monthly_quota
                - currency_remaining_daily_quota
                - currency_remaining_monthly_quota
                - transactions_daily_count
                - transactions_monthly_count
                - currency_transactions_daily_count
                - currency_transactions_monthly_count
              properties:
                currency:
                  type: string
                  description: Currency code.
                payment_network:
                  type: string
                  description: Payment network identifier.
                network_name:
                  type: string
                  description: Human-readable network name.
                monthly_quota_in_usd:
                  allOf:
                    - $ref: "#/components/schemas/CurrencyAmount"
                    - description: Monthly quota in USD (currency/amount object).
                daily_quota_in_usd:
                  allOf:
                    - $ref: "#/components/schemas/CurrencyAmount"
                    - description: Daily quota in USD (currency/amount object).
                used_monthly_quota_in_usd:
                  allOf:
                    - $ref: "#/components/schemas/CurrencyAmount"
                    - description: Used monthly quota in USD (currency/amount object).
                used_daily_quota_in_usd:
                  allOf:
                    - $ref: "#/components/schemas/CurrencyAmount"
                    - description: Used daily quota in USD (currency/amount object).
                remaining_monthly_quota_in_usd:
                  allOf:
                    - $ref: "#/components/schemas/CurrencyAmount"
                    - description: Remaining monthly quota in USD (currency/amount object).
                remaining_daily_quota_in_usd:
                  allOf:
                    - $ref: "#/components/schemas/CurrencyAmount"
                    - description: Remaining daily quota in USD (currency/amount object).
                minimum_withdrawal_amount_in_usd:
                  allOf:
                    - $ref: "#/components/schemas/CurrencyAmount"
                    - description: Minimum withdrawal amount in USD (currency/amount object).
                monthly_quota:
                  allOf:
                    - $ref: "#/components/schemas/CurrencyAmount"
                    - description: Monthly quota in native currency (currency/amount object).
                daily_quota:
                  allOf:
                    - $ref: "#/components/schemas/CurrencyAmount"
                    - description: Daily quota in native currency (currency/amount object).
                used_monthly_quota:
                  allOf:
                    - $ref: "#/components/schemas/CurrencyAmount"
                    - description: Used monthly quota in native currency (currency/amount object).
                used_daily_quota:
                  allOf:
                    - $ref: "#/components/schemas/CurrencyAmount"
                    - description: Used daily quota in native currency (currency/amount object).
                remaining_monthly_quota:
                  allOf:
                    - $ref: "#/components/schemas/CurrencyAmount"
                    - description: Remaining monthly quota in native currency (currency/amount object).
                remaining_daily_quota:
                  allOf:
                    - $ref: "#/components/schemas/CurrencyAmount"
                    - description: Remaining daily quota in native currency (currency/amount object).
                minimum_withdrawal_amount:
                  allOf:
                    - $ref: "#/components/schemas/CurrencyAmount"
                    - description: Minimum withdrawal amount in native currency (currency/amount object).
                currency_daily_quota:
                  allOf:
                    - $ref: "#/components/schemas/CurrencyAmount"
                    - description: Currency-level daily quota (currency/amount object).
                currency_monthly_quota:
                  allOf:
                    - $ref: "#/components/schemas/CurrencyAmount"
                    - description: Currency-level monthly quota (currency/amount object).
                currency_used_daily_quota:
                  allOf:
                    - $ref: "#/components/schemas/CurrencyAmount"
                    - description: Currency-level used daily quota (currency/amount object).
                currency_used_monthly_quota:
                  allOf:
                    - $ref: "#/components/schemas/CurrencyAmount"
                    - description: Currency-level used monthly quota (currency/amount object).
                currency_remaining_daily_quota:
                  allOf:
                    - $ref: "#/components/schemas/CurrencyAmount"
                    - description: Currency-level remaining daily quota (currency/amount object).
                currency_remaining_monthly_quota:
                  allOf:
                    - $ref: "#/components/schemas/CurrencyAmount"
                    - description: Currency-level remaining monthly quota (currency/amount object).
                transactions_per_day:
                  type: string
                  format: int32
                  nullable: true
                  description: Maximum transactions per day (null if no limit).
                transactions_per_month:
                  type: string
                  format: int32
                  nullable: true
                  description: Maximum transactions per month (null if no limit).
                transactions_daily_count:
                  type: string
                  format: int32
                  description: Current daily transaction count.
                transactions_monthly_count:
                  type: string
                  format: int32
                  description: Current monthly transaction count.
                remaining_transactions_daily_count:
                  type: string
                  format: int32
                  nullable: true
                  description: Remaining daily transactions (null if no limit).
                remaining_transactions_monthly_count:
                  type: string
                  format: int32
                  nullable: true
                  description: Remaining monthly transactions (null if no limit).
                currency_transactions_per_day:
                  type: string
                  format: int32
                  nullable: true
                  description: Currency-level max transactions per day (null if no limit).
                currency_transactions_per_month:
                  type: string
                  format: int32
                  nullable: true
                  description: Currency-level max transactions per month (null if no limit).
                currency_transactions_daily_count:
                  type: string
                  format: int32
                  description: Currency-level current daily transaction count.
                currency_transactions_monthly_count:
                  type: string
                  format: int32
                  description: Currency-level current monthly transaction count.
                currency_remaining_transactions_daily_count:
                  type: string
                  format: int32
                  nullable: true
                  description: Currency-level remaining daily transactions (null if no limit).
                currency_remaining_transactions_monthly_count:
                  type: string
                  format: int32
                  nullable: true
                  description: Currency-level remaining monthly transactions (null if no limit).
        message:
          type: string
          description: Present when code !== 0.
        original:
          type: string
          description: Present when code !== 0.
    CurrencyAmount:
      type: object
      description: Currency and amount pair (amount may be null to indicate no limit).
      properties:
        currency:
          type: string
          description: Currency code (e.g., USD)
        amount:
          type: string
          format: decimal
          nullable: true
          description: Amount as string; null means no limit where applicable
