openapi: 3.0.3
info:
  title: private/bot/update-trading-bot (TWAP)
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /private/bot/update-trading-bot:
    post:
      tags:
        - Trading Bot API
      x-apply-to:
        - rest
      summary: private/bot/update-trading-bot (TWAP)
      description: |
        Updates a TWAP (Time-Weighted Average Price) Trading Bot.

        Note: TWAP bots do not support updating settings. Only `display_name` and `notify_on_bot_change` can be changed.
      operationId: privateBotUpdateTradingBot_TWAP
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript
          x-discriminator-value: TWAP
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({
              apiKey: 'YOUR_API_KEY',
              secret: 'YOUR_SECRET',
              enableRateLimit: true,
            });
            // TWAP Bot: Only display_name and notify_on_bot_change can be updated
            const res = await exchange.v1PrivatePostPrivateBotUpdateTradingBot({
              bot_id: 2,
              bot_type: 'TWAP',
              notify_on_bot_change: false,
              display_name: 'My TWAP Bot'
            });
            console.log(res);
        - lang: Python
          label: Python
          x-discriminator-value: TWAP
          source: |
            import ccxt
            exchange = ccxt.cryptocom({
                'apiKey': 'YOUR_API_KEY',
                'secret': 'YOUR_SECRET',
                'enableRateLimit': True,
            })
            # TWAP Bot: Only display_name and notify_on_bot_change can be updated
            res = exchange.v1_private_post_private_bot_update_trading_bot({
                'bot_id': 2,
                'bot_type': 'TWAP',
                'notify_on_bot_change': False,
                'display_name': 'My TWAP Bot'
            })
            print(res)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              x-archetype: Request
              required:
                - id
                - method
                - api_key
                - sig
                - nonce
                - params
              description: Request body for private/bot/update-trading-bot.
              properties:
                id:
                  type: string
                  format: int64
                  description: Request id (echoed in response)
                method:
                  type: string
                  description: Must be "private/bot/update-trading-bot"
                  example: private/bot/update-trading-bot
                api_key:
                  type: string
                  description: Your API key (only required for private REST)
                sig:
                  type: string
                  description: HMAC-SHA256 signature in hex (only required for private REST)
                nonce:
                  type: string
                  format: int64
                  description: Current timestamp in milliseconds, e.g. "1610905028000".
                params:
                  type: object
                  required:
                    - bot_id
                    - bot_type
                    - notify_on_bot_change
                  properties:
                    bot_id:
                      type: integer
                      format: int64
                      description: Trading Bot ID
                      example: 1
                    bot_type:
                      $ref: "#/components/schemas/BotType"
                    notify_on_bot_change:
                      type: boolean
                      description: Whether to receive push notifications on bot state changes
                      example: true
                    display_name:
                      type: string
                      description: Updated display name for the bot. 4-15 characters; letters, numbers,
                      example: My Updated Bot
            example:
              id: 1
              method: private/bot/update-trading-bot
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: 1610905028000
              params:
                bot_id: 2
                bot_type: TWAP
                notify_on_bot_change: false
                display_name: My TWAP Bot
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotUpdateTradingBotResponse"
              example:
                id: 1
                method: private/bot/update-trading-bot
                code: 0
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotUpdateTradingBotResponse"
              example:
                id: 1
                method: private/bot/update-trading-bot
                code: "40001"
                message: BAD_REQUEST
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotUpdateTradingBotResponse"
              example:
                id: 1
                method: private/bot/update-trading-bot
                code: "40101"
                message: UNAUTHORIZED
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotUpdateTradingBotResponse"
              example:
                id: 1
                method: private/bot/update-trading-bot
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotUpdateTradingBotResponse"
              example:
                id: 1
                method: private/bot/update-trading-bot
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateBotUpdateTradingBotResponse"
              example:
                id: 1
                method: private/bot/update-trading-bot
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    BotType:
      type: string
      enum:
        - DCA
        - TWAP
        - GRID
        - FUNDING_ARBITRAGE
      description: |
        Trading bot type:
        - DCA: Dollar Cost Averaging
        - TWAP: Time-Weighted Average Price
        - GRID: Grid trading
        - FUNDING_ARBITRAGE: Funding arbitrage
    PrivateBotUpdateTradingBotResponse:
      type: object
      x-archetype: Response
      description: Response for private/bot/update-trading-bot.
      properties:
        id:
          type: string
          format: int64
          description: Original request identifier
        method:
          type: string
          description: Method name
          example: private/bot/update-trading-bot
        code:
          type: string
          format: int32
          description: 0 for success; error code otherwise
        message:
          type: string
          description: Error message for non-zero codes
