openapi: 3.0.3
info:
  title: private/user-balance
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /private/user-balance:
    post:
      tags:
        - Account Balance and Positions
      x-apply-to:
        - rest
      summary: private/user-balance
      description: |
        Returns the user's wallet balance.
      operationId: privateUserBalance
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({
              apiKey: 'YOUR_API_KEY',
              secret: 'YOUR_SECRET',
              enableRateLimit: true,
            });
            const res = await exchange.v1PrivatePostPrivateUserBalance({});
            console.log(res);
        - lang: Python
          label: Python
          source: |
            import ccxt
            exchange = ccxt.cryptocom({
                'apiKey': 'YOUR_API_KEY',
                'secret': 'YOUR_SECRET',
                'enableRateLimit': True,
            })
            res = exchange.v1_private_post_private_user_balance({})
            print(res)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateUserBalanceRequest"
            example:
              id: "11"
              method: private/user-balance
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              params: {}
              nonce: "1611022832613"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateUserBalanceResponse"
              example:
                id: "11"
                method: private/user-balance
                code: "0"
                result:
                  data:
                    - total_available_balance: "4721.05898582"
                      total_margin_balance: "7595.42571782"
                      total_initial_margin: "2874.36673202"
                      total_position_im: "486.31273202"
                      total_haircut: "2388.054"
                      total_maintenance_margin: "1437.18336601"
                      total_position_cost: "14517.54641301"
                      total_cash_balance: "7890.00320721"
                      total_collateral_value: "7651.18811483"
                      total_session_unrealized_pnl: "-55.76239701"
                      instrument_name: USD
                      total_session_realized_pnl: "0.00000000"
                      is_liquidating: false
                      total_effective_leverage: "1.90401230"
                      position_limit: "3000000.00000000"
                      used_position_limit: "40674.69622001"
                      total_isolated_cash_balance: "0.00000000"
                      isolated_positions: []
                      position_balances:
                        - instrument_name: CRO
                          quantity: "24422.72427884"
                          market_value: "4776.107959969951"
                          collateral_eligible: true
                          haircut: "0.5"
                          collateral_amount: "4537.302561971453"
                          max_withdrawal_balance: "24422.72427884"
                          reserved_qty: "0.00000000"
                        - instrument_name: USD
                          quantity: "3113.50747209"
                          market_value: "3113.50747209"
                          collateral_eligible: true
                          haircut: "0"
                          collateral_amount: "3113.50747209"
                          max_withdrawal_balance: "3113.50747209"
                          reserved_qty: "0.00000000"
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateUserBalanceResponse"
              example:
                id: "1"
                method: private/user-balance
                code: "40001"
                message: BAD_REQUEST
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateUserBalanceResponse"
              example:
                id: "1"
                method: private/user-balance
                code: "40101"
                message: UNAUTHORIZED
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateUserBalanceResponse"
              example:
                id: "1"
                method: private/user-balance
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateUserBalanceResponse"
              example:
                id: "1"
                method: private/user-balance
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateUserBalanceResponse"
              example:
                id: "1"
                method: private/user-balance
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateUserBalanceRequest:
      type: object
      x-archetype: Request
      required:
        - id
        - method
        - api_key
        - sig
        - nonce
        - params
      description: Request body for private/user-balance. Pass empty params {}.
      properties:
        id:
          type: string
          format: int64
          description: Request id (echoed in response)
        method:
          type: string
          description: Must be "private/user-balance"
          example: private/user-balance
        api_key:
          type: string
          description: Your API key (only required for private REST)
        sig:
          type: string
          description: HMAC-SHA256 signature in hex (only required for private REST)
        nonce:
          type: string
          format: int64
          description: Current timestamp in milliseconds, e.g. "1771761038000".
        params:
          type: object
          description: No parameters; use empty object {}
          additionalProperties: false
    PrivateUserBalanceResponse:
      type: object
      description: |
        Response for private/user-balance (HTTP 200/4xx/5xx).
        code === 0 → success, result present.
        code !== 0 → error, message and/or original present.
      properties:
        id:
          type: string
          format: int64
          description: Echoed request id
        method:
          type: string
          description: Method invoked
        code:
          type: string
          format: int32
          description: 0 = success; non-zero indicates error (reason code).
        result:
          type: object
          description: Present when code === 0. result.data[] per instrument (e.g. USD); each has position_balances[].
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/BalanceItem"
        message:
          type: string
          description: Present when code !== 0.
        original:
          type: string
          description: Present when code !== 0.
    BalanceItem:
      type: object
      description: |
        Single balance-row schema for both private/user-balance and private/get-subaccount-balances result.data[].
        Extends AccountBalanceItem with optional account (sub-account ID) and optional isolated_positions (array of IsolatedPositionItem; non-recursive).
      allOf:
        - $ref: "#/components/schemas/AccountBalanceItem"
        - type: object
          properties:
            isolated_positions:
              type: array
              description: Balance of isolated positions (IsolatedPositionItem; own schema, no recursion). Optional; present in user-balance and get-subaccount-balances.
              items:
                $ref: "#/components/schemas/IsolatedPositionItem"
            account:
              type: string
              description: Optional; sub-account ID in get-subaccount-balances.
    AccountBalanceItem:
      type: object
      description: Balance row with scalar fields and position_balances. Used by private/user-balance, private/get-subaccount-balances, WS user.balance, and IsolatedPositionItem.
      allOf:
        - $ref: "#/components/schemas/AccountBalanceBase"
        - type: object
          properties:
            position_balances:
              type: array
              description: Collateral balances as shown below.
              items:
                $ref: "#/components/schemas/PositionBalanceItem"
    AccountBalanceBase:
      type: object
      description: |
        Shared scalar balance/risk fields for REST/WS balance and account-risk rows.
        Collateral and position arrays are defined in extending schemas (e.g. AccountBalanceItem, UserAccountRiskItem).
      properties:
        instrument_name:
          type: string
          description: Instrument name of the balance e.g. USD
        total_available_balance:
          type: string
          format: decimal
          description: Balance that user can open new order (Margin Balance - Initial Margin)
        total_margin_balance:
          type: string
          format: decimal
          description: Positive cash balance on eligible collateral tokens + Negative balance on all tokens + Unrealised PnL - Fee reserves
        total_initial_margin:
          type: string
          format: decimal
          description: Total margin requirement to support positions and all open orders IM and haircut from risk asset holdings. Total sum of total_position_im + total_haircut.
        total_maintenance_margin:
          type: string
          format: decimal
          description: Total maintenance margin requirement for all positions
        total_position_cost:
          type: string
          format: decimal
          description: Position value in USD
        total_cash_balance:
          type: string
          format: decimal
          description: Wallet Balance (Deposits - Withdrawals + Realized PnL - Fees)
        total_collateral_value:
          type: string
          format: decimal
          description: Collateral Value
        total_session_unrealized_pnl:
          type: string
          format: decimal
          description: Current unrealized profit and loss from all open positions (calculated with Mark Price and Avg Price)
        total_session_realized_pnl:
          type: string
          format: decimal
          description: Current realized profit and loss from all open positions (calculated with Mark Price and Avg Price)
        is_liquidating:
          type: boolean
          description: Describes whether the account is under liquidation
        total_effective_leverage:
          type: string
          format: decimal
          description: The actual leverage used (all open positions combined), i.e. position size / margin balance.
        position_limit:
          type: string
          format: decimal
          description: Maximum position size allowed (for all open positions combined)
        used_position_limit:
          type: string
          format: decimal
          description: Combined position size of all open positions + order exposure on all instruments
        total_isolated_cash_balance:
          type: string
          format: decimal
          description: Sum of cash balance of the isolated positions
        total_position_im:
          type: string
          format: decimal
          description: Optional; present in isolated position items.
        total_haircut:
          type: string
          format: decimal
          description: Optional; present in isolated position items.
        total_risk_exposure:
          type: string
          format: decimal
          description: Total risk exposure. Optional.
        total_borrow:
          type: string
          format: decimal
          description: Total borrow. Optional.
        margin_score:
          type: string
          format: decimal
          description: Margin score. Optional.
        has_risk:
          type: boolean
          description: Whether the account has risk. Optional.
        terminatable:
          type: boolean
          description: Whether the account is terminatable. Optional.
        credit_limits:
          type: array
          description: Credit limits; may be empty. Item shape TBD when non-empty. Optional.
    PositionBalanceItem:
      type: object
      description: |
        Collateral balance entry within balance data (position_balances or balances array).
        Used in private/user-balance, private/get-subaccount-balances, and user.account_risk (as balances).
        Note: collateral_eligible may be returned as string (e.g. "true") by some endpoints; schema uses boolean.
      properties:
        instrument_name:
          type: string
          description: Instrument name of the collateral e.g. USD
          CRO: null
          USDT: null
          or DAI: null
        quantity:
          type: string
          format: decimal
          description: Quantity of the collateral
        market_value:
          type: string
          format: decimal
          description: Market value of the collateral
        collateral_eligible:
          type: boolean
          description: true or false
        haircut:
          type: string
          format: decimal
          description: Show haircut for eligible collateral token
        collateral_amount:
          type: string
          format: decimal
          description: Collateral amount derived by market_value minus haircut
        max_withdrawal_balance:
          type: string
          format: decimal
          description: Max withdrawal balance of the collateral
        reserved_qty:
          type: string
          format: decimal
          description: Fund/balance in use, not available for new orders or additional trading activities.
        hourly_interest_rate:
          type: string
          format: decimal
          description: Hourly interest rate for the collateral; e.g. "0". Optional.
    IsolatedPositionItem:
      type: object
      description: |
        Balance of an isolated position; extends AccountBalanceItem with isolation_id, leverage, isolation_type.
        Own schema only (no isolated_positions), so no recursion.
      allOf:
        - $ref: "#/components/schemas/AccountBalanceItem"
        - type: object
          properties:
            isolation_id:
              type: string
              description: Isolation ID of isolated position.
            leverage:
              type: string
              format: decimal
              description: The maximum leverage of the isolated position.
            isolation_type:
              $ref: "#/components/schemas/IsolationType"
    IsolationType:
      type: string
      enum:
        - ISOLATED_MARGIN
      description: Isolation type
