openapi: 3.0.3
info:
  title: private/get-accounts
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /private/get-accounts:
    post:
      tags:
        - Account Balance and Positions
      x-apply-to:
        - rest
      summary: private/get-accounts
      description: Get Account and its Sub Accounts.
      operationId: privateGetAccounts
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({
              apiKey: 'YOUR_API_KEY',
              secret: 'YOUR_SECRET',
              enableRateLimit: true,
            });
            const res = await exchange.v1PrivatePostPrivateGetAccounts({
              page_size: "30",
              page: "2",
            });
            console.log(res);
        - lang: Python
          label: Python
          source: |
            import ccxt
            exchange = ccxt.cryptocom({
                'apiKey': 'YOUR_API_KEY',
                'secret': 'YOUR_SECRET',
                'enableRateLimit': True,
            })
            res = exchange.v1_private_post_private_get_accounts({
                'page_size': "30",
                'page': "2",
            })
            print(res)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateGetAccountsRequest"
            example:
              id: "12"
              method: private/get-accounts
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              params:
                page_size: "30"
                page: "2"
              nonce: "1587846358253"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateGetAccountsResponse"
              example:
                id: "12"
                method: private/get-accounts
                code: "0"
                result:
                  this_account:
                    uuid: 243d3f39-b193-4eb9-1d60-e98f2fc17707
                    hierarchy: MASTER
                  master_account:
                    uuid: 243d3f39-b193-4eb9-1d60-e98f2fc17707
                    hierarchy: MASTER
                    master_account_uuid: 291879ae-b769-4eb3-4d75-3366ebee7dd6
                    margin_account_uuid: 69c9ab41-5b95-4d75-b769-e45f2fc16507
                    enabled: true
                    tradable: true
                    name: ""
                    email: "[email protected]"
                    margin_access: DEFAULT
                    derivatives_access: DISABLED
                    create_time: "1620962543792"
                    update_time: "1622019525960"
                    two_fa_enabled: true
                    kyc_level: ADVANCED
                    suspended: false
                    terminated: false
                  sub_account_list:
                    - uuid: 69c9ab41-5b95-4d75-b769-e45f2fc16507
                      hierarchy: SUB_ACCOUNT
                      master_account_uuid: 291879ae-b769-4eb3-4d75-3366ebee7dd6
                      margin_account_uuid: 69c9ab41-5b95-4d75-b769-e45f2fc16507
                      label: Sub Account
                      enabled: true
                      tradable: true
                      margin_access: DEFAULT
                      derivatives_access: DISABLED
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateGetAccountsResponse"
              example:
                id: "1"
                method: private/get-accounts
                code: "40001"
                message: BAD_REQUEST
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateGetAccountsResponse"
              example:
                id: "1"
                method: private/get-accounts
                code: "40101"
                message: UNAUTHORIZED
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateGetAccountsResponse"
              example:
                id: "1"
                method: private/get-accounts
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateGetAccountsResponse"
              example:
                id: "1"
                method: private/get-accounts
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateGetAccountsResponse"
              example:
                id: "1"
                method: private/get-accounts
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateGetAccountsRequest:
      type: object
      x-archetype: Request
      required:
        - id
        - method
        - api_key
        - sig
        - nonce
        - params
      description: Request body for private/get-accounts.
      properties:
        id:
          type: string
          format: int64
          description: Request id (echoed in response)
        method:
          type: string
          description: Must be "private/get-accounts"
          example: private/get-accounts
        api_key:
          type: string
          description: Your API key (only required for private REST)
        sig:
          type: string
          description: HMAC-SHA256 signature in hex (only required for private REST)
        nonce:
          type: string
          format: int64
          description: Current timestamp in milliseconds, e.g. "1771761038000".
        params:
          type: object
          properties:
            page_size:
              type: string
              format: int32
              default: "20"
              description: Number of items per page. Default 20.
            page:
              type: string
              format: int32
              default: "0"
              description: Page number (0-based). Default 0.
    PrivateGetAccountsResponse:
      type: object
      description: |
        Response for private/get-accounts (HTTP 200/4xx/5xx).
        code === 0 → success, result present.
        code !== 0 → error, message and/or original present.
      properties:
        id:
          type: string
          format: int64
          description: Echoed request id
        method:
          type: string
          description: Method invoked
        code:
          type: string
          format: int32
          description: 0 = success; non-zero indicates error (reason code).
        result:
          type: object
          description: Present when code === 0. this_account, master_account and sub_account_list per docs.
          required:
            - master_account
            - sub_account_list
          properties:
            this_account:
              $ref: "#/components/schemas/PrivateGetAccountsThisAccount"
            master_account:
              $ref: "#/components/schemas/PrivateGetAccountsAccount"
            sub_account_list:
              type: array
              items:
                $ref: "#/components/schemas/PrivateGetAccountsAccount"
        message:
          type: string
          description: Present when code !== 0.
        original:
          type: string
          description: Present when code !== 0.
    PrivateGetAccountsThisAccount:
      type: object
      description: Information about the current API key's account.
      properties:
        uuid:
          type: string
          description: UUID of the API key
        hierarchy:
          $ref: "#/components/schemas/AccountHierarchy"
    AccountHierarchy:
      type: string
      enum:
        - MASTER
        - SUB_ACCOUNT
      description: "Account type of the API key: MASTER or SUB_ACCOUNT."
    PrivateGetAccountsAccount:
      type: object
      description: Account object shared by master_account and sub_account_list in private/get-accounts result.
      properties:
        uuid:
          type: string
          description: UUID of the API key
        hierarchy:
          $ref: "#/components/schemas/AccountHierarchy"
        master_account_uuid:
          type: string
          description: Master account uuid
        margin_account_uuid:
          type: string
          description: Margin account uuid (optional)
        label:
          type: string
          description: Sub account label (typically present for sub-accounts)
        enabled:
          type: boolean
          description: true or false
        tradable:
          type: boolean
          description: true or false
        name:
          type: string
          description: Name of sub account
        email:
          type: string
          description: Email of sub account
        mobile_number:
          type: string
          description: Mobile number of sub account
        country_code:
          type: string
          description: Country Code of sub account
        address:
          type: string
          description: Address of sub account
        margin_access:
          $ref: "#/components/schemas/AccessLevel"
        derivatives_access:
          $ref: "#/components/schemas/AccessLevel"
        create_time:
          type: string
          format: int64
          description: Creation timestamp (milliseconds since the Unix epoch).
        update_time:
          type: string
          format: int64
          description: Last update timestamp (milliseconds since the Unix epoch).
        two_fa_enabled:
          type: boolean
          description: true or false
        kyc_level:
          type: string
          description: Kyc Level
        suspended:
          type: boolean
          description: true or false
        terminated:
          type: boolean
          description: true or false
    AccessLevel:
      type: string
      enum:
        - DEFAULT
        - DISABLED
      description: DEFAULT or DISABLED
