openapi: 3.0.3
info:
  title: private/amend-order
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /private/amend-order:
    post:
      tags:
        - Trading
      x-apply-to:
        - rest
        - ws-user-api
      summary: private/amend-order
      description: |
        Amend an existing order on the Exchange.

        This call is asynchronous, so the response is simply a confirmation of the request.

        The user.order subscription can be used to check when the order is successfully created.

        Please note that amend order is designed as a convenience function such that it performs cancel and then create behind the scene. The new order will lose queue priority, except if the amend is only to amend down order quantity.
      operationId: privateAmendOrder
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({
              apiKey: 'YOUR_API_KEY',
              secret: 'YOUR_SECRET',
              enableRateLimit: true,
            });
            const res = await exchange.v1PrivatePostPrivateAmendOrder({
              order_id: '6530219466236720401',
              new_price: '82000',
              new_quantity: '0.0002',
            });
            console.log(res);
        - lang: Python
          label: Python
          source: |
            import ccxt
            exchange = ccxt.cryptocom({
                'apiKey': 'YOUR_API_KEY',
                'secret': 'YOUR_SECRET',
                'enableRateLimit': True,
            })
            res = exchange.v1_private_post_private_amend_order({
                'order_id': '6530219466236720401',
                'new_price': '82000',
                'new_quantity': '0.0002',
            })
            print(res)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateAmendOrderRequest"
            example:
              id: "53"
              method: private/amend-order
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: "1587846358253"
              params:
                order_id: "6530219466236720401"
                new_price: "82000"
                new_quantity: "0.0002"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateAmendOrderResponse"
              example:
                id: "53"
                method: private/amend-order
                code: "0"
                result:
                  client_oid: "53"
                  order_id: "6530219466236720401"
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateAmendOrderResponse"
              example:
                id: "1"
                method: private/amend-order
                code: "40001"
                message: BAD_REQUEST
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateAmendOrderResponse"
              example:
                id: "1"
                method: private/amend-order
                code: "40101"
                message: UNAUTHORIZED
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateAmendOrderResponse"
              example:
                id: "1"
                method: private/amend-order
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateAmendOrderResponse"
              example:
                id: "1"
                method: private/amend-order
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateAmendOrderResponse"
              example:
                id: "1"
                method: private/amend-order
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateAmendOrderRequest:
      type: object
      x-archetype: Request
      required:
        - id
        - method
        - api_key
        - sig
        - nonce
        - params
      description: Request body for private/amend-order.
      properties:
        id:
          type: string
          format: int64
          description: Request id (echoed in response)
        method:
          type: string
          description: Must be "private/amend-order"
          example: private/amend-order
        api_key:
          type: string
          description: Your API key (only required for private REST)
        sig:
          type: string
          description: HMAC-SHA256 signature in hex (only required for private REST)
        nonce:
          type: string
          format: int64
          description: Current timestamp in milliseconds, e.g. "1771761038000".
        params:
          type: object
          required:
            - new_quantity
            - new_price
          properties:
            order_id:
              type: string
              format: int64
              description: Optional Order ID. Either order_id or orig_client_oid must be present.
            client_oid:
              type: string
              description: Client Order ID (maximum 36 characters).
            orig_client_oid:
              type: string
              description: Optional Original Client Order ID. Either order_id or orig_client_oid must be present. If both exist, order_id has higher priority.
            new_price:
              type: string
              format: decimal
              description: The new amended price. If no change required, input original value.
            new_quantity:
              type: string
              format: decimal
              description: The new amended quantity. If no change required, input original value.
    PrivateAmendOrderResponse:
      type: object
      description: |
        Response for private/amend-order (HTTP 200/4xx/5xx).
        code === 0 → success, result present.
        code !== 0 → error, message and/or original present.
      properties:
        id:
          type: string
          format: int64
          description: Echoed request id
        method:
          type: string
          description: Method invoked
        code:
          type: string
          format: int32
          description: 0 = success; non-zero indicates error (reason code).
        result:
          type: object
          description: Present when code === 0. client_oid, order_id.
          properties:
            client_oid:
              type: string
              description: Client order ID
            order_id:
              type: string
              format: int64
              description: Order ID
        message:
          type: string
          description: Present when code !== 0.
        original:
          type: string
          description: Present when code !== 0.
