openapi: 3.0.3
info:
  title: private/otc/get-unsettled-amounts
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /private/otc/get-unsettled-amounts:
    post:
      tags:
        - OTC RFQ for Taker
      x-apply-to:
        - rest
      summary: private/otc/get-unsettled-amounts
      description: Get pending settlement amount aggregated by date and instrument.
      operationId: privateOtcGetUnsettledAmounts
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({
              apiKey: 'YOUR_API_KEY',
              secret: 'YOUR_SECRET',
              enableRateLimit: true,
            });
            const res = await exchange.v1PrivatePostPrivateOtcGetUnsettledAmounts({});
            console.log(res);
        - lang: Python
          label: Python
          source: |
            import ccxt
            exchange = ccxt.cryptocom({
                'apiKey': 'YOUR_API_KEY',
                'secret': 'YOUR_SECRET',
                'enableRateLimit': True,
            })
            res = exchange.v1_private_post_private_otc_get_unsettled_amounts({})
            print(res)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateOtcGetUnsettledAmountsRequest"
            example:
              id: "12"
              method: private/otc/get-unsettled-amounts
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: "1610905028000"
              params: {}
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateOtcGetUnsettledAmountsResponse"
              example:
                id: 1763952629987
                method: private/otc/get-unsettled-amounts
                code: 0
                result:
                  unsettled_ccys:
                    "1764057600000000000":
                      BTC: "-0.01"
                      USD: "1022.0646"
                    "1762848000000000000":
                      ADA: "-1000"
                      USD: "583.080000"
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateOtcGetUnsettledAmountsResponse"
              example:
                id: "12"
                method: private/otc/get-unsettled-amounts
                code: "40001"
                message: BAD_REQUEST
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateOtcGetUnsettledAmountsResponse"
              example:
                id: "12"
                method: private/otc/get-unsettled-amounts
                code: "40101"
                message: UNAUTHORIZED
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateOtcGetUnsettledAmountsResponse"
              example:
                id: "12"
                method: private/otc/get-unsettled-amounts
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateOtcGetUnsettledAmountsResponse"
              example:
                id: "12"
                method: private/otc/get-unsettled-amounts
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateOtcGetUnsettledAmountsResponse"
              example:
                id: "12"
                method: private/otc/get-unsettled-amounts
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateOtcGetUnsettledAmountsRequest:
      type: object
      x-archetype: Request
      required:
        - id
        - method
        - api_key
        - sig
        - nonce
        - params
      description: Request body for private/otc/get-unsettled-amounts. No request params.
      properties:
        id:
          type: string
          format: int64
          description: Request id (echoed in response)
        method:
          type: string
          description: Must be "private/otc/get-unsettled-amounts"
          example: private/otc/get-unsettled-amounts
        api_key:
          type: string
          description: Your API key (only required for private REST)
        sig:
          type: string
          description: HMAC-SHA256 signature in hex (only required for private REST)
        nonce:
          type: string
          format: int64
          description: Current timestamp in milliseconds, e.g. "1771761038000".
        params:
          type: object
          description: No params required.
    PrivateOtcGetUnsettledAmountsResponse:
      type: object
      description: |
        Response for private/otc/get-unsettled-amounts (HTTP 200/4xx/5xx).
        code === 0 → success, result present with unsettled_ccys (map by date and instrument).
        code !== 0 → error, message and/or original present.
      properties:
        id:
          type: string
          format: int64
          description: Echoed request id
        method:
          type: string
          description: Method invoked
        code:
          type: string
          format: int32
          description: 0 = success; non-zero indicates error (reason code).
        result:
          type: object
          description: Present when code === 0. Pending settlement amount aggregated by date and instrument.
          properties:
            unsettled_ccys:
              type: object
              description: Map by date (timestamp key in nanoseconds) and instrument/currency (inner key). Each value is the amount as string.
              additionalProperties:
                type: object
                additionalProperties:
                  type: string
                  description: Amount
        message:
          type: string
          description: Present when code !== 0.
        original:
          type: string
          description: Present when code !== 0.
