openapi: 3.0.3
info:
  title: private/get-subaccount-balances
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /private/get-subaccount-balances:
    post:
      tags:
        - Account Balance and Positions
      x-apply-to:
        - rest
      summary: private/get-subaccount-balances
      description: Returns the user's wallet balances of all sub-accounts.
      operationId: privateGetSubaccountBalances
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({
              apiKey: 'YOUR_API_KEY',
              secret: 'YOUR_SECRET',
              enableRateLimit: true,
            });
            const res = await exchange.v1PrivatePostPrivateGetSubaccountBalances({});
            console.log(res);
        - lang: Python
          label: Python
          source: |
            import ccxt
            exchange = ccxt.cryptocom({
                'apiKey': 'YOUR_API_KEY',
                'secret': 'YOUR_SECRET',
                'enableRateLimit': True,
            })
            res = exchange.v1_private_post_private_get_subaccount_balances({})
            print(res)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateGetSubaccountBalancesRequest"
            example:
              id: "1"
              method: private/get-subaccount-balances
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              params: {}
              nonce: "1"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateGetSubaccountBalancesResponse"
              example:
                id: "1"
                method: private/get-subaccount-balances
                code: "0"
                result:
                  data:
                    - account: a0d206a1-6b06-47c5-9cd3-8bc6ef0915c5
                      instrument_name: USD
                      total_available_balance: "0.00000000"
                      total_margin_balance: "0.00000000"
                      total_initial_margin: "0.00000000"
                      total_maintenance_margin: "0.00000000"
                      total_position_cost: "0.00000000"
                      total_cash_balance: "0.00000000"
                      total_collateral_value: "0.00000000"
                      total_session_unrealized_pnl: "0.00000000"
                      total_session_realized_pnl: "0.00000000"
                      total_effective_leverage: "0.00000000"
                      position_limit: "3000000.00000000"
                      used_position_limit: "0.00000000"
                      total_isolated_cash_balance: "0.00000000"
                      is_liquidating: false
                      position_balances: []
                      isolated_positions: []
                    - account: 49786818-6ead-40c4-a008-ea6b0fa5cf96
                      instrument_name: USD
                      total_available_balance: "20823.62250000"
                      total_margin_balance: "20823.62250000"
                      total_initial_margin: "0.00000000"
                      total_maintenance_margin: "0.00000000"
                      total_position_cost: "0.00000000"
                      total_cash_balance: "21919.55000000"
                      total_collateral_value: "20823.62250000"
                      total_session_unrealized_pnl: "0.00000000"
                      total_session_realized_pnl: "0.00000000"
                      total_effective_leverage: "0.00000000"
                      position_limit: "3000000.00000000"
                      used_position_limit: "0.00000000"
                      total_isolated_cash_balance: "0.00000000"
                      is_liquidating: false
                      position_balances:
                        - instrument_name: BTC
                          quantity: "1.0000000000"
                          market_value: "21918.5500000000"
                          collateral_eligible: true
                          haircut: "0.5500000000"
                          collateral_amount: "21918.0000000000"
                          max_withdrawal_balance: "1.0000000000"
                        - instrument_name: USD
                          quantity: "1.00000000"
                          market_value: "1.00000000"
                          collateral_eligible: true
                          haircut: "0.10000000"
                          collateral_amount: "0.90000000"
                          max_withdrawal_balance: "0.00000000"
                      isolated_positions: []
                    - account: 507d3f7d-37c3-4a09-9076-b83c2fcbb638
                      total_available_balance: "20922.62250000"
                      total_margin_balance: "20922.62250000"
                      total_initial_margin: "0.00000000"
                      total_maintenance_margin: "0.00000000"
                      total_position_cost: "0.00000000"
                      total_cash_balance: "22018.55000000"
                      total_collateral_value: "20922.62250000"
                      total_session_unrealized_pnl: "0.00000000"
                      instrument_name: USD
                      total_session_realized_pnl: "0.00000000"
                      total_effective_leverage: "0.00000000"
                      position_limit: "3000000.00000000"
                      used_position_limit: "0.00000000"
                      total_isolated_cash_balance: "8.96326705"
                      is_liquidating: false
                      position_balances:
                        - instrument_name: BTC
                          quantity: "1.0000000000"
                          market_value: "21918.5500000000"
                          collateral_eligible: true
                          haircut: "0.5500000000"
                          collateral_amount: "21918.0000000000"
                          max_withdrawal_balance: "1.0000000000"
                        - instrument_name: USD
                          quantity: "100.00000000"
                          market_value: "100.00000000"
                          collateral_eligible: true
                          haircut: "1.00000000"
                          collateral_amount: "99.00000000"
                          max_withdrawal_balance: "0.00000000"
                      isolated_positions:
                        - isolation_id: "19848526"
                          leverage: "10"
                          isolation_type: ISOLATED_MARGIN
                          total_available_balance: "7.80487225"
                          total_margin_balance: "7595.42571782"
                          total_initial_margin: "1.09620001"
                          total_position_im: "0.5481"
                          total_haircut: "0"
                          total_maintenance_margin: "0.27405"
                          total_position_cost: "10.959"
                          total_cash_balance: "8.96326705"
                          total_collateral_value: "8.96326705"
                          total_session_unrealized_pnl: "-0.003"
                          instrument_name: USD
                          total_session_realized_pnl: "-0.043"
                          is_liquidating: false
                          total_effective_leverage: "1.231537"
                          position_limit: "89.01072259"
                          used_position_limit: "10.962"
                          position_balances:
                            - instrument_name: USD
                              quantity: "8.9632670590686"
                              market_value: "8.96326705"
                              collateral_eligible: true
                              haircut: "0"
                              collateral_amount: "8.96326705"
                              max_withdrawal_balance: "7.80487225"
                              reserved_qty: "0.00000000"
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateGetSubaccountBalancesResponse"
              example:
                id: "1"
                method: private/get-subaccount-balances
                code: "40001"
                message: BAD_REQUEST
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateGetSubaccountBalancesResponse"
              example:
                id: "1"
                method: private/get-subaccount-balances
                code: "40101"
                message: UNAUTHORIZED
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateGetSubaccountBalancesResponse"
              example:
                id: "1"
                method: private/get-subaccount-balances
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateGetSubaccountBalancesResponse"
              example:
                id: "1"
                method: private/get-subaccount-balances
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateGetSubaccountBalancesResponse"
              example:
                id: "1"
                method: private/get-subaccount-balances
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateGetSubaccountBalancesRequest:
      type: object
      x-archetype: Request
      required:
        - id
        - method
        - api_key
        - sig
        - nonce
        - params
      description: Request body for private/get-subaccount-balances.
      properties:
        id:
          type: string
          format: int64
          description: Request id (echoed in response)
        method:
          type: string
          description: Must be "private/get-subaccount-balances"
          example: private/get-subaccount-balances
        api_key:
          type: string
          description: Your API key (only required for private REST)
        sig:
          type: string
          description: HMAC-SHA256 signature in hex (only required for private REST)
        nonce:
          type: string
          format: int64
          description: Current timestamp in milliseconds, e.g. "1771761038000".
        params:
          type: object
          description: No parameters; use empty object {}
          additionalProperties: false
    PrivateGetSubaccountBalancesResponse:
      type: object
      description: |
        Response for private/get-subaccount-balances (HTTP 200/4xx/5xx).
        code === 0 → success, result present.
        code !== 0 → error, message and/or original present.
      properties:
        id:
          type: string
          format: int64
          description: Echoed request id
        method:
          type: string
          description: Method invoked
        code:
          type: string
          format: int32
          description: 0 = success; non-zero indicates error (reason code).
        result:
          type: object
          description: Present when code === 0.
          properties:
            data:
              type: array
              description: List of sub-account balances.
              items:
                $ref: "#/components/schemas/SubaccountBalanceItem"
        message:
          type: string
          description: Present when code !== 0.
        original:
          type: string
          description: Present when code !== 0.
    SubaccountBalanceItem:
      description: One sub-account balance in private/get-subaccount-balances result.data. Same shape as BalanceItem.
      $ref: "#/components/schemas/BalanceItem"
    BalanceItem:
      type: object
      description: |
        Single balance-row schema for both private/user-balance and private/get-subaccount-balances result.data[].
        Extends AccountBalanceItem with optional account (sub-account ID) and optional isolated_positions (array of IsolatedPositionItem; non-recursive).
      allOf:
        - $ref: "#/components/schemas/AccountBalanceItem"
        - type: object
          properties:
            isolated_positions:
              type: array
              description: Balance of isolated positions (IsolatedPositionItem; own schema, no recursion). Optional; present in user-balance and get-subaccount-balances.
              items:
                $ref: "#/components/schemas/IsolatedPositionItem"
            account:
              type: string
              description: Optional; sub-account ID in get-subaccount-balances.
    AccountBalanceItem:
      type: object
      description: Balance row with scalar fields and position_balances. Used by private/user-balance, private/get-subaccount-balances, WS user.balance, and IsolatedPositionItem.
      allOf:
        - $ref: "#/components/schemas/AccountBalanceBase"
        - type: object
          properties:
            position_balances:
              type: array
              description: Collateral balances as shown below.
              items:
                $ref: "#/components/schemas/PositionBalanceItem"
    AccountBalanceBase:
      type: object
      description: |
        Shared scalar balance/risk fields for REST/WS balance and account-risk rows.
        Collateral and position arrays are defined in extending schemas (e.g. AccountBalanceItem, UserAccountRiskItem).
      properties:
        instrument_name:
          type: string
          description: Instrument name of the balance e.g. USD
        total_available_balance:
          type: string
          format: decimal
          description: Balance that user can open new order (Margin Balance - Initial Margin)
        total_margin_balance:
          type: string
          format: decimal
          description: Positive cash balance on eligible collateral tokens + Negative balance on all tokens + Unrealised PnL - Fee reserves
        total_initial_margin:
          type: string
          format: decimal
          description: Total margin requirement to support positions and all open orders IM and haircut from risk asset holdings. Total sum of total_position_im + total_haircut.
        total_maintenance_margin:
          type: string
          format: decimal
          description: Total maintenance margin requirement for all positions
        total_position_cost:
          type: string
          format: decimal
          description: Position value in USD
        total_cash_balance:
          type: string
          format: decimal
          description: Wallet Balance (Deposits - Withdrawals + Realized PnL - Fees)
        total_collateral_value:
          type: string
          format: decimal
          description: Collateral Value
        total_session_unrealized_pnl:
          type: string
          format: decimal
          description: Current unrealized profit and loss from all open positions (calculated with Mark Price and Avg Price)
        total_session_realized_pnl:
          type: string
          format: decimal
          description: Current realized profit and loss from all open positions (calculated with Mark Price and Avg Price)
        is_liquidating:
          type: boolean
          description: Describes whether the account is under liquidation
        total_effective_leverage:
          type: string
          format: decimal
          description: The actual leverage used (all open positions combined), i.e. position size / margin balance.
        position_limit:
          type: string
          format: decimal
          description: Maximum position size allowed (for all open positions combined)
        used_position_limit:
          type: string
          format: decimal
          description: Combined position size of all open positions + order exposure on all instruments
        total_isolated_cash_balance:
          type: string
          format: decimal
          description: Sum of cash balance of the isolated positions
        total_position_im:
          type: string
          format: decimal
          description: Optional; present in isolated position items.
        total_haircut:
          type: string
          format: decimal
          description: Optional; present in isolated position items.
        total_risk_exposure:
          type: string
          format: decimal
          description: Total risk exposure. Optional.
        total_borrow:
          type: string
          format: decimal
          description: Total borrow. Optional.
        margin_score:
          type: string
          format: decimal
          description: Margin score. Optional.
        has_risk:
          type: boolean
          description: Whether the account has risk. Optional.
        terminatable:
          type: boolean
          description: Whether the account is terminatable. Optional.
        credit_limits:
          type: array
          description: Credit limits; may be empty. Item shape TBD when non-empty. Optional.
    PositionBalanceItem:
      type: object
      description: |
        Collateral balance entry within balance data (position_balances or balances array).
        Used in private/user-balance, private/get-subaccount-balances, and user.account_risk (as balances).
        Note: collateral_eligible may be returned as string (e.g. "true") by some endpoints; schema uses boolean.
      properties:
        instrument_name:
          type: string
          description: Instrument name of the collateral e.g. USD
          CRO: null
          USDT: null
          or DAI: null
        quantity:
          type: string
          format: decimal
          description: Quantity of the collateral
        market_value:
          type: string
          format: decimal
          description: Market value of the collateral
        collateral_eligible:
          type: boolean
          description: true or false
        haircut:
          type: string
          format: decimal
          description: Show haircut for eligible collateral token
        collateral_amount:
          type: string
          format: decimal
          description: Collateral amount derived by market_value minus haircut
        max_withdrawal_balance:
          type: string
          format: decimal
          description: Max withdrawal balance of the collateral
        reserved_qty:
          type: string
          format: decimal
          description: Fund/balance in use, not available for new orders or additional trading activities.
        hourly_interest_rate:
          type: string
          format: decimal
          description: Hourly interest rate for the collateral; e.g. "0". Optional.
    IsolatedPositionItem:
      type: object
      description: |
        Balance of an isolated position; extends AccountBalanceItem with isolation_id, leverage, isolation_type.
        Own schema only (no isolated_positions), so no recursion.
      allOf:
        - $ref: "#/components/schemas/AccountBalanceItem"
        - type: object
          properties:
            isolation_id:
              type: string
              description: Isolation ID of isolated position.
            leverage:
              type: string
              format: decimal
              description: The maximum leverage of the isolated position.
            isolation_type:
              $ref: "#/components/schemas/IsolationType"
    IsolationType:
      type: string
      enum:
        - ISOLATED_MARGIN
      description: Isolation type
