openapi: 3.0.3
info:
  title: private/staking/get-staking-position
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /private/staking/get-staking-position:
    post:
      tags:
        - Staking
      x-apply-to:
        - rest
      summary: private/staking/get-staking-position
      description: Get the total staking position for a user/token
      operationId: privateStakingGetStakingPosition
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({
              apiKey: 'YOUR_API_KEY',
              secret: 'YOUR_SECRET',
              enableRateLimit: true,
            });
            const res = await exchange.v1PrivatePostPrivateStakingGetStakingPosition({
              instrument_name: 'SOL.staked',
            });
            console.log(res);
        - lang: Python
          label: Python
          source: |
            import ccxt
            exchange = ccxt.cryptocom({
                'apiKey': 'YOUR_API_KEY',
                'secret': 'YOUR_SECRET',
                'enableRateLimit': True,
            })
            res = exchange.v1_private_post_private_staking_get_staking_position({
                'instrument_name': 'SOL.staked',
            })
            print(res)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateStakingGetStakingPositionRequest"
            example:
              id: "1"
              method: private/staking/get-staking-position
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: "1739923200000"
              params:
                instrument_name: SOL.staked
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingGetStakingPositionResponse"
              example:
                id: "1"
                method: private/staking/get-staking-position
                code: "0"
                result:
                  data:
                    - instrument_name: SOL.staked
                      underlying_inst_name: SOL
                      staked_quantity: "30000.00"
                      pending_staked_quantity: "20000.00"
                      pending_unstaked_quantity: "10000.00"
                      reward_eligible_quantity: "10000.00"
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingGetStakingPositionResponse"
              example:
                id: "1"
                method: private/staking/get-staking-position
                code: "40001"
                message: BAD_REQUEST
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingGetStakingPositionResponse"
              example:
                id: "1"
                method: private/staking/get-staking-position
                code: "40101"
                message: UNAUTHORIZED
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingGetStakingPositionResponse"
              example:
                id: "1"
                method: private/staking/get-staking-position
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingGetStakingPositionResponse"
              example:
                id: "1"
                method: private/staking/get-staking-position
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateStakingGetStakingPositionResponse"
              example:
                id: "1"
                method: private/staking/get-staking-position
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateStakingGetStakingPositionRequest:
      type: object
      x-archetype: Request
      required:
        - id
        - method
        - api_key
        - sig
        - nonce
        - params
      description: Request body for private/staking/get-staking-position.
      properties:
        id:
          type: string
          format: int64
          description: Request id (echoed in response)
        method:
          type: string
          description: Must be "private/staking/get-staking-position"
          example: private/staking/get-staking-position
        api_key:
          type: string
          description: Your API key (only required for private REST)
        sig:
          type: string
          description: HMAC-SHA256 signature in hex (only required for private REST)
        nonce:
          type: string
          format: int64
          description: Current timestamp in milliseconds, e.g. "1771761038000".
        params:
          type: object
          properties:
            instrument_name:
              type: string
              description: Staking instrument name, e.g. SOL.staked
    PrivateStakingGetStakingPositionResponse:
      type: object
      description: |
        Response for private/staking/get-staking-position (HTTP 200/4xx/5xx).
        code === 0 → success, result present.
        code !== 0 → error, message and/or original present.
      properties:
        id:
          type: string
          format: int64
          description: Echoed request id
        method:
          type: string
          description: Method invoked
        code:
          type: string
          format: int32
          description: 0 = success; non-zero indicates error (reason code).
        result:
          type: object
          description: Present when code === 0. data array of staking positions.
          properties:
            data:
              type: array
              description: List of staking positions.
              items:
                $ref: "#/components/schemas/StakingPositionItem"
        message:
          type: string
          description: Present when code !== 0.
        original:
          type: string
          description: Present when code !== 0.
    StakingPositionItem:
      type: object
      description: One staking position in private/staking/get-staking-position result.data.
      properties:
        instrument_name:
          type: string
          description: Staking instrument name, e.g. SOL.staked
        underlying_inst_name:
          type: string
          description: Underlying instrument name, e.g. SOL
        staked_quantity:
          type: string
          format: decimal
          description: Total staked quantity. For yield-bearing instruments, staked_quantity, pending_unstaked_quantity, and reward_eligible_quantity are in terms of yield-bearing tokens held. E.g. for TSTON.staked, the quantity of TSTON held on-chain.
        pending_staked_quantity:
          type: string
          format: decimal
          description: Total pending staked quantity
        pending_unstaked_quantity:
          type: string
          format: decimal
          description: Total pending unstaked quantity
        reward_eligible_quantity:
          type: string
          format: decimal
          description: Total reward eligible quantity; quantity can be unstaked/convert
