openapi: 3.0.3
info:
  title: private/fiat/fiat-deposit-history
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /private/fiat/fiat-deposit-history:
    post:
      tags:
        - Fiat Wallet
      x-apply-to:
        - rest
      summary: private/fiat/fiat-deposit-history
      description: Retrieves paginated fiat deposit transaction history for the authenticated user.
      operationId: privateFiatFiatDepositHistory
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({
              apiKey: 'YOUR_API_KEY',
              secret: 'YOUR_SECRET',
              enableRateLimit: true,
            });
            const res = await exchange.v1PrivatePostPrivateFiatFiatDepositHistory({
              page: "0",
              page_size: "10",
              start_time: '1781126400000',
              end_time: '1781127400000',
              payment_networks: 'usd_cubix',
            });
            console.log(res);
        - lang: Python
          label: Python
          source: |
            import ccxt
            exchange = ccxt.cryptocom({
                'apiKey': 'YOUR_API_KEY',
                'secret': 'YOUR_SECRET',
                'enableRateLimit': True,
            })
            res = exchange.v1_private_post_private_fiat_fiat_deposit_history({
                'page': "0",
                'page_size': "10",
                'start_time': '1781126400000',
                'end_time': '1781127400000',
                'payment_networks': 'usd_cubix',
            })
            print(res)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateFiatFiatDepositHistoryRequest"
            example:
              id: "123456"
              method: private/fiat/fiat-deposit-history
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: "1640995200000"
              params:
                page: "0"
                page_size: "10"
                start_time: "1781126400000"
                end_time: "1781127400000"
                payment_networks: usd_cubix
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateFiatFiatDepositHistoryResponse"
              examples:
                Example - us_ach:
                  value:
                    id: "1"
                    method: private/fiat/fiat-deposit-history
                    code: "0"
                    result:
                      page: "0"
                      page_size: "2"
                      total: "41"
                      transaction_history_list:
                        - id: c2669ca7-35a2-464c-8114-2313912c6d76
                          currency: USD
                          amount: "100.0"
                          fee_currency: USD
                          fee_amount: "0.0"
                          payment_network: us_ach
                          status: completed
                          created_at: "1778140550953"
                          updated_at: "1778140573431"
                          completed_at: "1648669814953"
                          vendor_transaction_id: N89940DKZD
                        - id: f5527db9-c0ca-4d82-b3f8-4470c3398384
                          currency: USD
                          amount: "100.0"
                          fee_currency: USD
                          fee_amount: "0.0"
                          payment_network: us_ach
                          status: completed
                          created_at: "1778140412428"
                          updated_at: "1778140429199"
                          completed_at: "1648669814953"
                          vendor_transaction_id: F6KSNMQV0B
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateFiatFiatDepositHistoryResponse"
              example:
                id: "1"
                method: private/fiat/fiat-deposit-history
                code: "40001"
                message: BAD_REQUEST
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateFiatFiatDepositHistoryResponse"
              example:
                id: "1"
                method: private/fiat/fiat-deposit-history
                code: "40101"
                message: UNAUTHORIZED
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateFiatFiatDepositHistoryResponse"
              example:
                id: "1"
                method: private/fiat/fiat-deposit-history
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateFiatFiatDepositHistoryResponse"
              example:
                id: "1"
                method: private/fiat/fiat-deposit-history
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateFiatFiatDepositHistoryResponse"
              example:
                id: "1"
                method: private/fiat/fiat-deposit-history
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateFiatFiatDepositHistoryRequest:
      type: object
      x-archetype: Request
      required:
        - id
        - method
        - api_key
        - sig
        - nonce
        - params
      description: Request body for private/fiat/fiat-deposit-history.
      properties:
        id:
          type: string
          format: int64
          description: Request id (echoed in response)
        method:
          type: string
          description: Must be "private/fiat/fiat-deposit-history"
          example: private/fiat/fiat-deposit-history
        api_key:
          type: string
          description: Your API key (only required for private REST)
        sig:
          type: string
          description: HMAC-SHA256 signature in hex (only required for private REST)
        nonce:
          type: string
          format: int64
          description: Current timestamp in milliseconds, e.g. "1771761038000".
        params:
          type: object
          required:
            - page
            - page_size
          properties:
            page:
              type: string
              format: int32
              description: Page number (0-based)
            page_size:
              type: string
              format: int32
              description: Number of items per page
            start_time:
              type: string
              format: int64
              description: Start time for filtering transactions, as a Unix timestamp in milliseconds. Required if end_time is provided.
            end_time:
              type: string
              format: int64
              description: End time for filtering transactions, as a Unix timestamp in milliseconds.
            payment_networks:
              type: string
              description: Comma-separated list of payment networks to filter by
    PrivateFiatFiatDepositHistoryResponse:
      type: object
      description: |
        Response for private/fiat/fiat-deposit-history (HTTP 200/4xx/5xx).
        code === 0 → success, result present.
        code !== 0 → error, message and/or original present.
      properties:
        id:
          type: string
          format: int64
          description: Echoed request id
        method:
          type: string
          description: Method invoked
        code:
          type: string
          format: int32
          description: 0 = success; non-zero indicates error (reason code).
        result:
          type: object
          description: Present when code === 0. transaction_history_list, page, page_size, total.
          properties:
            transaction_history_list:
              type: array
              items:
                type: object
                required:
                  - id
                  - amount
                  - currency
                  - status
                  - payment_network
                  - created_at
                properties:
                  id:
                    type: string
                    format: int64
                    description: Transaction ID.
                  amount:
                    type: string
                    format: decimal
                    description: Transaction amount
                  currency:
                    type: string
                    description: Currency code
                  fee_currency:
                    type: string
                    description: Fee currency
                  fee_amount:
                    type: string
                    format: decimal
                    description: Transaction fee amount
                  status:
                    type: string
                    description: Transaction status (pending, completed, failed, cancelled)
                  payment_network:
                    type: string
                    description: Payment network identifier
                  created_at:
                    type: string
                    format: int64
                    description: Transaction creation timestamp (ms).
                  updated_at:
                    type: string
                    format: int64
                    description: Transaction update timestamp (ms).
                  completed_at:
                    type: string
                    format: int64
                    description: Transaction completion timestamp (ms).
                  fee:
                    type: string
                    format: decimal
                    description: Transaction fee (alternate).
                  vendor_transaction_id:
                    type: string
                    nullable: true
                    description: Transaction identifier assigned by the upstream fiat vendor / payment service provider (PSP) that processed the deposit.
                  sender:
                    $ref: "#/components/schemas/FiatTransactionParty"
                    nullable: true
                  beneficiary:
                    $ref: "#/components/schemas/FiatTransactionParty"
                    nullable: true
            page:
              type: string
              format: int32
              description: Current page number
            page_size:
              type: string
              format: int32
              description: Number of items per page
            total:
              type: string
              format: int32
              description: Total number of transactions
        message:
          type: string
          description: Present when code !== 0.
        original:
          type: string
          description: Present when code !== 0.
    FiatTransactionParty:
      type: object
      description: Sender or beneficiary in a fiat deposit/withdraw transaction.
      properties:
        account_identifier_value:
          type: string
          description: Account identifier value
