openapi: 3.0.3
info:
  title: private/otc/request-deal (RFQ)
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /private/otc/request-deal:
    post:
      tags:
        - OTC RFQ for Taker
      x-apply-to:
        - rest
        - ws-user-api
      summary: private/otc/request-deal (RFQ)
      description: Request a deal from a quote (RFQ flow).
      operationId: privateOtcRequestDeal_RFQ
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript
          x-discriminator-value: RFQ
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({
              apiKey: 'YOUR_API_KEY',
              secret: 'YOUR_SECRET',
              enableRateLimit: true,
            });
            const res = await exchange.v1PrivatePostPrivateOtcRequestDeal({
              deal_type: 'QUOTE_REQUEST',
              cl_deal_id: 'client_id_1',
              quote_id: '4611686018492073851',
              quote_req_id: '4611686018427623960',
              leg_list: [
                { instrument_name: 'BTC_USD', price: '95734.2', quantity: '1', side: 'BUY' },
              ],
            });
            console.log(res);
        - lang: Python
          label: Python
          x-discriminator-value: RFQ
          source: |
            import ccxt
            exchange = ccxt.cryptocom({
                'apiKey': 'YOUR_API_KEY',
                'secret': 'YOUR_SECRET',
                'enableRateLimit': True,
            })
            res = exchange.v1_private_post_private_otc_request_deal({
                'deal_type': 'QUOTE_REQUEST',
                'cl_deal_id': 'client_id_1',
                'quote_id': '4611686018492073851',
                'quote_req_id': '4611686018427623960',
                'leg_list': [
                    {'instrument_name': 'BTC_USD', 'price': '95734.2', 'quantity': '1', 'side': 'BUY'},
                ],
            })
            print(res)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateOtcRequestDealRequest"
            example:
              id: "1"
              method: private/otc/request-deal
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: "1610905028000"
              params:
                deal_type: QUOTE_REQUEST
                cl_deal_id: client_id_1
                quote_id: "4611686018492073851"
                quote_req_id: "4611686018427623960"
                leg_list:
                  - instrument_name: BTC_USD
                    price: "95734.2"
                    quantity: "1"
                    side: BUY
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateOtcRequestDealResponse"
              example:
                id: 1
                method: private/otc/request-deal
                code: 0
                result:
                  cl_deal_id: client_id_1
                  deal_id: "4611686018429016536"
                  quote_req_id: "4611686018427623960"
                  quote_id: "4611686018492073851"
                  deal_type: QUOTE_REQUEST
                  deal_status: ACCEPTED
                  reason: NO_ERROR
                  update_time_ns: "1739329285207188882"
                  leg_list:
                    - instrument_name: BTC_USD
                      quantity: "1"
                      price: "95734.2"
                      side: BUY
                      type: PRICE
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateOtcRequestDealResponse"
              example:
                id: "1"
                method: private/otc/request-deal
                code: "40001"
                message: BAD_REQUEST
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateOtcRequestDealResponse"
              example:
                id: "1"
                method: private/otc/request-deal
                code: "40101"
                message: UNAUTHORIZED
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateOtcRequestDealResponse"
              example:
                id: "1"
                method: private/otc/request-deal
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateOtcRequestDealResponse"
              example:
                id: "1"
                method: private/otc/request-deal
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateOtcRequestDealResponse"
              example:
                id: "1"
                method: private/otc/request-deal
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateOtcRequestDealRequest:
      type: object
      x-archetype: Request
      required:
        - id
        - method
        - api_key
        - sig
        - nonce
        - params
      description: Request body for private/otc/request-deal. Request a deal from a quote (RFQ flow).
      properties:
        id:
          type: string
          format: int64
          description: Request id (echoed in response)
        method:
          type: string
          description: Must be "private/otc/request-deal"
          example: private/otc/request-deal
        api_key:
          type: string
          description: Your API key (only required for private REST)
        sig:
          type: string
          description: HMAC-SHA256 signature in hex (only required for private REST)
        nonce:
          type: string
          format: int64
          description: Current timestamp in milliseconds, e.g. "1771761038000".
        params:
          type: object
          required:
            - deal_type
            - cl_deal_id
            - quote_id
            - quote_req_id
            - leg_list
          properties:
            deal_type:
              type: string
              enum:
                - QUOTE_REQUEST
              description: Should be QUOTE_REQUEST
            cl_deal_id:
              type: string
              description: |
                Client provided ID for the deal. Should be unique per deal request.
                Accepted characters a-z, A-Z, 0-9, _, -
            quote_id:
              type: string
              description: quote_id obtained from user.otc_qr.quotes
            quote_req_id:
              type: string
              description: quote_req_id obtained from user.otc_qr.requests
            leg_list:
              type: array
              description: List of legs for the deal request.
              items:
                $ref: "#/components/schemas/PrivateOtcRequestDealLegItem"
    PrivateOtcRequestDealLegItem:
      type: object
      description: One leg of an OTC deal request. Client either provide quantity or notional (same value used in request-quote).
      required:
        - instrument_name
        - price
        - side
      properties:
        instrument_name:
          type: string
          description: Instrument symbol (e.g., BTC_USD). Same value used in request-quote.
        price:
          type: string
          format: decimal
          description: Bid or ask obtained from user.otc_qr.quotes.
        quantity:
          type: string
          format: decimal
          description: Client either provide quantity or notional. Same value used in request-quote.
        notional:
          type: string
          format: decimal
          description: Client either provide quantity or notional. Same value used in request-quote.
        side:
          type: string
          enum:
            - BUY
            - SELL
          description: BUY or SELL
    PrivateOtcRequestDealResponse:
      type: object
      description: |
        Response for private/otc/request-deal (HTTP 200/4xx/5xx).
        code === 0 → success, result present with deal_id, cl_deal_id, quote_id, quote_req_id, deal_type, deal_status, reason, update_time_ns, leg_list.
        code !== 0 → error, message and/or original present.
      properties:
        id:
          type: string
          format: int64
          description: Echoed request id
        method:
          type: string
          description: Method invoked
        code:
          type: string
          format: int32
          description: 0 = success; non-zero indicates error (reason code).
        result:
          type: object
          description: Present when code === 0.
          properties:
            deal_id:
              type: string
              description: System generated unique ID for the deal
            cl_deal_id:
              type: string
              description: Client provided ID for the deal request
            quote_id:
              type: string
              description: System generated unique ID for the quote
            quote_req_id:
              type: string
              description: System generated unique ID for the quote request
            deal_type:
              type: string
              description: Deal type
            deal_status:
              type: string
              enum:
                - ACCEPTED
                - REJECTED
              description: ACCEPTED = system received deal; REJECTED = deal rejected
            reason:
              type: string
              description: e.g. NO_ERROR
            update_time_ns:
              type: string
              description: Unix epoch time when deal last updated in nanosecond
            leg_list:
              type: array
              description: List of legs for the deal.
              items:
                $ref: "#/components/schemas/PrivateOtcRequestDealResponseLegItem"
        message:
          type: string
          description: Present when code !== 0.
        original:
          type: string
          description: Present when code !== 0.
    PrivateOtcRequestDealResponseLegItem:
      type: object
      description: One leg in the deal result. Echoed back from quote/quote request; executed_quantity and executed_notional when applicable.
      properties:
        instrument_name:
          type: string
          description: Instrument symbol (e.g., BTC_USD)
        price:
          type: string
          format: decimal
          description: Echoed back from quote
        quantity:
          type: string
          format: decimal
          description: Echoed back from quote request if requested quantity
        notional:
          type: string
          format: decimal
          description: Echoed back from quote request if requested notional
        executed_quantity:
          type: string
          format: decimal
          description: Executed quantity
        executed_notional:
          type: string
          format: decimal
          description: Executed notional
        side:
          type: string
          enum:
            - BUY
            - SELL
          description: Echoed back from deal
        type:
          type: string
          enum:
            - PRICE
          description: e.g. PRICE
