openapi: 3.0.3
info:
  title: private/advanced/cancel-oto
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /private/advanced/cancel-oto:
    post:
      tags:
        - Advanced Order Management
      x-apply-to:
        - rest
        - ws-user-api
      summary: private/advanced/cancel-oto
      description: |
        Cancel a SPOT_ATTACH or DERIV_ATTACH order on the Exchange. This call is asynchronous, so the response is simply a confirmation of the request. The `user.advanced.order` subscription can be used to check when each of the orders is successfully cancelled.

        **Note:** This API can also be used to cancel SpotAttach / DerivAttach orders regardless of the number of legs (2 or 3). Both `cancel-oto` and `cancel-otoco` can be used interchangeably to cancel SpotAttach / DerivAttach orders by `list_id`.
      operationId: privateAdvancedCancelOto
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({
              apiKey: 'YOUR_API_KEY',
              secret: 'YOUR_SECRET',
              enableRateLimit: true,
            });
            const res = await exchange.v1PrivatePostPrivateAdvancedCancelOto({
              list_id: '4421958062479290999',
            });
            console.log(res);
        - lang: Python
          label: Python
          source: |
            import ccxt
            exchange = ccxt.cryptocom({
                'apiKey': 'YOUR_API_KEY',
                'secret': 'YOUR_SECRET',
                'enableRateLimit': True,
            })
            res = exchange.v1_private_post_private_advanced_cancel_oto({
                'list_id': '4421958062479290999',
            })
            print(res)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateAdvancedCancelOtoRequest"
            example:
              method: private/advanced/cancel-oto
              id: "1234"
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: "123456789000"
              params:
                list_id: "4421958062479290999"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateAdvancedCancelOtoResponse"
              example:
                id: "1661328073"
                method: private/advanced/cancel-oto
                code: "0"
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateAdvancedCancelOtoResponse"
              example:
                id: "1"
                method: private/advanced/cancel-oto
                code: "40001"
                message: BAD_REQUEST
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateAdvancedCancelOtoResponse"
              example:
                id: "1"
                method: private/advanced/cancel-oto
                code: "40101"
                message: UNAUTHORIZED
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateAdvancedCancelOtoResponse"
              example:
                id: "1"
                method: private/advanced/cancel-oto
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateAdvancedCancelOtoResponse"
              example:
                id: "1"
                method: private/advanced/cancel-oto
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateAdvancedCancelOtoResponse"
              example:
                id: "1"
                method: private/advanced/cancel-oto
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateAdvancedCancelOtoRequest:
      type: object
      x-archetype: Request
      required:
        - id
        - method
        - api_key
        - sig
        - nonce
        - params
      description: Request body for private/advanced/cancel-oto.
      properties:
        id:
          type: string
          format: int64
          description: Request id (echoed in response)
        method:
          type: string
          description: Must be "private/advanced/cancel-oto"
          example: private/advanced/cancel-oto
        api_key:
          type: string
          description: Your API key (only required for private REST)
        sig:
          type: string
          description: HMAC-SHA256 signature in hex (only required for private REST)
        nonce:
          type: string
          format: int64
          description: Current timestamp in milliseconds, e.g. "1771761038000".
        params:
          type: object
          required:
            - list_id
          properties:
            list_id:
              type: string
              format: int64
    PrivateAdvancedCancelOtoResponse:
      type: object
      description: |
        Response for private/advanced/cancel-oto (HTTP 200/4xx/5xx).
        code === 0 → success, result present.
        code !== 0 → error, message and/or original present.
      properties:
        id:
          type: string
          format: int64
          description: Echoed request id
        method:
          type: string
          description: Method invoked
        code:
          type: string
          format: int32
          description: 0 = success; non-zero indicates error (reason code).
        result:
          type: object
          description: Present when code === 0. No result block is returned per docs; code 0 indicates request queued.
          properties: {}
        message:
          type: string
          description: Present when code !== 0.
        original:
          type: string
          description: Present when code !== 0.
