openapi: 3.0.3
info:
  title: private/otc/request-quote
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /private/otc/request-quote:
    post:
      tags:
        - OTC RFQ for Taker
      x-apply-to:
        - rest
        - ws-user-api
      summary: private/otc/request-quote
      description: Create a quote request.
      operationId: privateOtcRequestQuote
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({
              apiKey: 'YOUR_API_KEY',
              secret: 'YOUR_SECRET',
              enableRateLimit: true,
            });
            const res = await exchange.v1PrivatePostPrivateOtcRequestQuote({
              cl_quote_req_id: 'abcd13456',
              firm_quote: false,
              settlement_arrangement: 'IMMEDIATE',
              duration: '10000',
              quote_ttl: '5000',
              leg_list: [
                { instrument_name: 'BTC_USD', quantity: '1', side: 'BUY' },
              ],
            });
            console.log(res);
        - lang: Python
          label: Python
          source: |
            import ccxt
            exchange = ccxt.cryptocom({
                'apiKey': 'YOUR_API_KEY',
                'secret': 'YOUR_SECRET',
                'enableRateLimit': True,
            })
            res = exchange.v1_private_post_private_otc_request_quote({
                'cl_quote_req_id': 'abcd13456',
                'firm_quote': False,
                'settlement_arrangement': 'IMMEDIATE',
                'duration': '10000',
                'quote_ttl': '5000',
                'leg_list': [
                    {'instrument_name': 'BTC_USD', 'quantity': '1', 'side': 'BUY'},
                ],
            })
            print(res)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateOtcRequestQuoteRequest"
            example:
              id: "12"
              method: private/otc/request-quote
              api_key: YOUR_API_KEY
              sig: DIGITAL_SIGNATURE
              nonce: "1610905028000"
              params:
                cl_quote_req_id: abcd13456
                firm_quote: false
                settlement_arrangement: IMMEDIATE
                duration: "10000"
                quote_ttl: "5000"
                leg_list:
                  - instrument_name: BTC_USD
                    quantity: "1"
                    side: BUY
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateOtcRequestQuoteResponse"
              example:
                id: 12
                method: private/otc/request-quote
                code: 0
                result:
                  cl_quote_req_id: "1739951702774"
                  quote_req_id: "4611686018427626536"
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateOtcRequestQuoteResponse"
              example:
                id: "12"
                method: private/otc/request-quote
                code: "40001"
                message: BAD_REQUEST
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateOtcRequestQuoteResponse"
              example:
                id: "12"
                method: private/otc/request-quote
                code: "40101"
                message: UNAUTHORIZED
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateOtcRequestQuoteResponse"
              example:
                id: "12"
                method: private/otc/request-quote
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateOtcRequestQuoteResponse"
              example:
                id: "12"
                method: private/otc/request-quote
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateOtcRequestQuoteResponse"
              example:
                id: "12"
                method: private/otc/request-quote
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PrivateOtcRequestQuoteRequest:
      type: object
      x-archetype: Request
      required:
        - id
        - method
        - api_key
        - sig
        - nonce
        - params
      description: Request body for private/otc/request-quote. Create a quote request (RFQ flow).
      properties:
        id:
          type: string
          format: int64
          description: Request id (echoed in response)
        method:
          type: string
          description: Must be "private/otc/request-quote"
          example: private/otc/request-quote
        api_key:
          type: string
          description: Your API key (only required for private REST)
        sig:
          type: string
          description: HMAC-SHA256 signature in hex (only required for private REST)
        nonce:
          type: string
          format: int64
          description: Current timestamp in milliseconds, e.g. "1771761038000".
        params:
          type: object
          required:
            - cl_quote_req_id
            - leg_list
          properties:
            cl_quote_req_id:
              type: string
              description: |
                Client provided ID for the quote request. Should be unique per ACTIVE quote request.
                Accepted characters a-z, A-Z, 0-9, _, -
            firm_quote:
              type: boolean
              default: false
              description: |
                FALSE indicates the quoted price subject to changes.
                TRUE indicates the quoted price is guaranteed.
            settlement_arrangement:
              type: string
              enum:
                - IMMEDIATE
                - T1
              default: IMMEDIATE
              description: |
                IMMEDIATE can only be used by non settle later account.
                T1 can only be used by settle later account.
            duration:
              type: string
              enum:
                - "5000"
                - "10000"
                - "30000"
                - "60000"
                - "300000"
                - "600000"
              default: "10000"
              description: |
                Quote request goes from ACTIVE to COMPLETED after this duration (in millisecond).
            quote_ttl:
              type: string
              enum:
                - "4000"
                - "5000"
              default: "4000"
              description: The minimum time the quotes remains valid (in millisecond).
            leg_list:
              type: array
              description: Legs of the quote request.
              items:
                $ref: "#/components/schemas/PrivateOtcRequestQuoteLegItem"
    PrivateOtcRequestQuoteLegItem:
      type: object
      description: One leg of an OTC RFQ. Either quantity or notional must be provided but not both.
      required:
        - instrument_name
        - side
      properties:
        instrument_name:
          type: string
          description: Instrument for this leg, e.g. BTC_USD
        side:
          type: string
          enum:
            - BUY
            - SELL
          description: BUY or SELL
        quantity:
          type: string
          format: decimal
          description: Quantity for this leg. Either quantity or notional must be provided but not both.
        notional:
          type: string
          format: decimal
          description: Notional for this leg. Either quantity or notional must be provided but not both.
    PrivateOtcRequestQuoteResponse:
      type: object
      description: |
        Response for private/otc/request-quote (HTTP 200/4xx/5xx).
        code === 0 → success, result present with quote_req_id and cl_quote_req_id.
        code !== 0 → error, message and/or original present.
      properties:
        id:
          type: string
          format: int64
          description: Echoed request id
        method:
          type: string
          description: Method invoked
        code:
          type: string
          format: int32
          description: 0 = success; non-zero indicates error (reason code).
        result:
          type: object
          description: Present when code === 0. subscription user.otc_qr.requests, channel user.otc_qr.requests.
          properties:
            quote_req_id:
              type: string
              description: System generated unique ID for the quote request
            cl_quote_req_id:
              type: string
              description: Client provided ID for the quote request
        message:
          type: string
          description: Present when code !== 0.
        original:
          type: string
          description: Present when code !== 0.
