openapi: 3.0.3
info:
  title: public/get-trades
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /public/get-trades:
    get:
      tags:
        - Reference and Market Data
      x-business-units:
        - exchange
        - exchange-caas
        - fcm
        - fcm-non-us
      x-apply-to:
        - rest
      summary: public/get-trades
      description: Fetches the public trades for a particular instrument. Time window can only be up to 7 days for maximum.
      operationId: publicGetTrades
      parameters:
        - name: instrument_name
          in: query
          required: true
          schema:
            type: string
            example: BTCUSD-PERP
          description: e.g. BTCUSD-PERP
        - name: count
          in: query
          schema:
            type: string
            format: int32
            default: "25"
          description: "The maximum number of trades to be retrieved. Default: 25. Max: 150"
        - name: start_ts
          in: query
          schema:
            type: string
            format: int64
          description: "Start time in Unix time format (inclusive). Default: end_time - 1 day. Nanosecond recommended for accurate pagination"
        - name: end_ts
          in: query
          schema:
            type: string
            format: int64
          description: "End time in Unix time format (exclusive). Default: current system timestamp. Nanosecond recommended for accurate pagination"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://api.crypto.com/exchange/v1/public/get-trades?instrument_name=BTCUSD-PERP&count=5" \
              -H "Content-Type: application/json"
        - lang: JavaScript
          label: JavaScript
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({ enableRateLimit: true });
            const res = await exchange.v1PublicGetPublicGetTrades({ instrument_name: 'BTCUSD-PERP', count: "5" });
            console.log(res);
        - lang: Python
          label: Python
          source: |
            import ccxt
            exchange = ccxt.cryptocom({'enableRateLimit': True})
            res = exchange.v1_public_get_public_get_trades({'instrument_name': 'BTCUSD-PERP', 'count': "5"})
            print(res)
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicGetTradesResponse"
              example:
                id: "1"
                method: public/get-trades
                code: "0"
                result:
                  data:
                    - d: "15281981878"
                      t: "1613547060925"
                      tn: "1613547060925523623"
                      q: "0.181900"
                      p: "50772.000000"
                      s: SELL
                      i: BTCUSD-PERP
                      m: "76423"
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicGetTradesResponse"
              example:
                id: "1"
                method: public/get-trades
                code: "40001"
                message: BAD_REQUEST
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicGetTradesResponse"
              example:
                id: "1"
                method: public/get-trades
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicGetTradesResponse"
              example:
                id: "1"
                method: public/get-trades
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicGetTradesResponse"
              example:
                id: "1"
                method: public/get-trades
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PublicGetTradesResponse:
      type: object
      description: |
        Response for public/get-trades (HTTP 200/4xx/5xx).
        code === 0 → success, result present.
        code !== 0 → error, message and/or original present.
      properties:
        id:
          type: string
          format: int64
          description: Echoed request id
        method:
          type: string
          description: Method invoked
        code:
          type: string
          format: int32
          description: 0 = success; non-zero indicates error (reason code).
        result:
          type: object
          description: Present when code === 0. Trades (data array, instrument_name). Items are PublicTradeItem (core + tn).
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/PublicTradeItem"
        message:
          type: string
          description: Present when code !== 0.
        original:
          type: string
          description: Present when code !== 0.
    PublicTradeItem:
      description: One item in REST public/get-trades result.data[]. Extends MarketTradeItemBase with tn.
      allOf:
        - $ref: "#/components/schemas/MarketTradeItemBase"
        - type: object
          properties:
            tn:
              type: string
              format: int64
              description: Trade timestamp in nanoseconds (REST only)
              e.g. \"1771761038000000000\".: null
    MarketTradeItemBase:
      type: object
      description: |
        Public market trade row fields shared by REST public/get-trades result.data[] and WS trade channel result.data[].
        REST adds tn (timestamp nanoseconds) via PublicTradeItem.
      properties:
        d:
          type: string
          description: Trade ID
        t:
          type: string
          format: int64
          description: Trade timestamp in milliseconds, e.g. "1771761038000".
        p:
          type: string
          format: decimal
          description: Trade price
        q:
          type: string
          format: decimal
          description: Trade quantity
        s:
          allOf:
            - $ref: "#/components/schemas/OrderSide"
            - description: Side (BUY or SELL). Side is the side of the taker order.
        i:
          type: string
          description: Instrument name e.g. BTCUSD-PERP
        m:
          type: string
          format: int64
          description: Trade match ID
    OrderSide:
      type: string
      enum:
        - BUY
        - SELL
      description: BUY or SELL
