openapi: 3.0.3
info:
  title: public/get-expired-settlement-price
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /public/get-expired-settlement-price:
    get:
      tags:
        - Reference and Market Data
      x-business-units:
        - exchange
        - exchange-caas
        - fcm
        - fcm-non-us
      x-apply-to:
        - rest
      summary: public/get-expired-settlement-price
      description: Fetches settlement prices of expired instruments.
      operationId: publicGetExpiredSettlementPrice
      parameters:
        - name: instrument_type
          in: query
          required: true
          schema:
            type: string
            example: FUTURE
          description: FUTURE
        - name: page
          in: query
          schema:
            type: string
            format: int32
            default: "1"
          description: Page number. Default 1.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://api.crypto.com/exchange/v1/public/get-expired-settlement-price?instrument_type=FUTURE&page=1" \
              -H "Content-Type: application/json"
        - lang: JavaScript
          label: JavaScript
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({ enableRateLimit: true });
            const res = await exchange.v1PublicGetPublicGetExpiredSettlementPrice({ instrument_type: 'FUTURE', page: "1" });
            console.log(res);
        - lang: Python
          label: Python
          source: |
            import ccxt
            exchange = ccxt.cryptocom({'enableRateLimit': True})
            res = exchange.v1_public_get_public_get_expired_settlement_price({'instrument_type': 'FUTURE', 'page': "1"})
            print(res)
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicGetExpiredSettlementPriceResponse"
              example:
                id: "-1"
                method: public/get-expired-settlement-price
                code: "0"
                result:
                  data:
                    - i: BTCUSD-210528m2
                      x: "1622145600000"
                      v: "50776.73000"
                      t: "1622145540000"
                    - i: BTCUSD-210528m3
                      x: "1622160000000"
                      v: "38545.570000"
                      t: "1622159940000"
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicGetExpiredSettlementPriceResponse"
              example:
                id: "1"
                method: public/get-expired-settlement-price
                code: "40001"
                message: BAD_REQUEST
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicGetExpiredSettlementPriceResponse"
              example:
                id: "1"
                method: public/get-expired-settlement-price
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicGetExpiredSettlementPriceResponse"
              example:
                id: "1"
                method: public/get-expired-settlement-price
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicGetExpiredSettlementPriceResponse"
              example:
                id: "1"
                method: public/get-expired-settlement-price
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PublicGetExpiredSettlementPriceResponse:
      type: object
      description: |
        Response for public/get-expired-settlement-price (HTTP 200/4xx/5xx).
        code === 0 → success, result present.
        code !== 0 → error, message and/or original present.
      properties:
        id:
          type: string
          format: int64
          description: Echoed request id
        method:
          type: string
          description: Method invoked
        code:
          type: string
          format: int32
          description: 0 = success; non-zero indicates error (reason code).
        result:
          type: object
          description: Present when code === 0. data[] has i (instrument), x (expiry ms), v (value), t (timestamp).
          properties:
            data:
              type: array
              items:
                type: object
                properties:
                  i:
                    type: string
                    description: Instrument name
                  x:
                    type: string
                    format: int64
                    description: Expiry timestamp (ms).
                  v:
                    type: string
                    format: decimal
                    description: Value
                  t:
                    type: string
                    format: int64
                    description: Timestamp (ms).
        message:
          type: string
          description: Present when code !== 0.
        original:
          type: string
          description: Present when code !== 0.
