openapi: 3.0.3
info:
  title: public/get-book
  version: 1.0.0
servers:
  - url: https://api.crypto.com/exchange/v1
    description: Production
  - url: https://uat-api.3ona.co/exchange/v1
    description: UAT Sandbox
paths:
  /public/get-book:
    get:
      tags:
        - Reference and Market Data
      x-business-units:
        - exchange
        - exchange-caas
        - fcm
        - fcm-non-us
      x-apply-to:
        - rest
      summary: public/get-book
      description: Fetches the public order book for a particular instrument and depth.
      operationId: publicGetBook
      parameters:
        - name: instrument_name
          in: query
          required: true
          schema:
            type: string
            example: BTCUSD-PERP
          description: Instrument symbol, e.g. BTCUSD-PERP
        - name: depth
          in: query
          required: true
          schema:
            type: string
            example: "10"
          description: Number of bids and asks to return (up to 50)
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://api.crypto.com/exchange/v1/public/get-book?instrument_name=BTCUSD-PERP&depth=10" \
              -H "Content-Type: application/json"
        - lang: JavaScript
          label: JavaScript
          source: |
            const ccxt = require('ccxt');
            const exchange = new ccxt.cryptocom({ enableRateLimit: true });
            const res = await exchange.v1PublicGetPublicGetBook({ instrument_name: 'BTCUSD-PERP', depth: '10' });
            console.log(res);
        - lang: Python
          label: Python
          source: |
            import ccxt
            exchange = ccxt.cryptocom({'enableRateLimit': True})
            res = exchange.v1_public_get_public_get_book({'instrument_name': 'BTCUSD-PERP', 'depth': '10'})
            print(res)
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicGetBookResponse"
              example:
                code: "0"
                method: public/get-book
                result:
                  depth: "10"
                  data:
                    - asks:
                        - - "50126.000000"
                          - "0.400000"
                          - "0"
                        - - "50130.000000"
                          - "1.279000"
                          - "0"
                        - - "50136.000000"
                          - "1.279000"
                          - "0"
                        - - "50137.000000"
                          - "0.800000"
                          - "0"
                        - - "50142.000000"
                          - "1.279000"
                          - "0"
                        - - "50148.000000"
                          - "2.892900"
                          - "0"
                        - - "50154.000000"
                          - "1.279000"
                          - "0"
                        - - "50160.000000"
                          - "1.133000"
                          - "0"
                        - - "50166.000000"
                          - "3.090700"
                          - "0"
                        - - "50172.000000"
                          - "1.279000"
                          - "0"
                      bids:
                        - - "50113.500000"
                          - "0.400000"
                          - "0"
                        - - "50113.000000"
                          - "0.051800"
                          - "0"
                        - - "50112.000000"
                          - "1.455300"
                          - "0"
                        - - "50106.000000"
                          - "1.174800"
                          - "0"
                        - - "50100.500000"
                          - "0.800000"
                          - "0"
                        - - "50100.000000"
                          - "1.455300"
                          - "0"
                        - - "50097.500000"
                          - "0.048000"
                          - "0"
                        - - "50097.000000"
                          - "0.148000"
                          - "0"
                        - - "50096.500000"
                          - "0.399200"
                          - "0"
                        - - "50095.000000"
                          - "0.399200"
                          - "0"
                  instrument_name: BTCUSD-PERP
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicGetBookResponse"
              example:
                id: "1"
                method: public/get-book
                code: "40001"
                message: BAD_REQUEST
        "408":
          description: Request timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicGetBookResponse"
              example:
                id: "1"
                method: public/get-book
                code: "40801"
                message: REQUEST_TIMEOUT
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicGetBookResponse"
              example:
                id: "1"
                method: public/get-book
                code: "42901"
                message: TOO_MANY_REQUESTS
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicGetBookResponse"
              example:
                id: "1"
                method: public/get-book
                code: "50001"
                message: INTERNAL_SERVER_ERROR
components:
  schemas:
    PublicGetBookResponse:
      type: object
      description: |
        Response for public/get-book (HTTP 200/4xx/5xx).
        code === 0 → success, result present.
        code !== 0 → error, message and/or original present.
      properties:
        id:
          type: string
          format: int64
          description: Echoed request id
        method:
          type: string
          description: Method invoked
        code:
          type: string
          format: int32
          description: 0 = success; non-zero indicates error (reason code).
        result:
          type: object
          description: Present when code === 0. Order book. data is array of one object; bids/asks are [Price, Quantity, NumOrders].
          properties:
            depth:
              type: string
              format: int32
              description: Number of bids and asks to return (up to 50)
            instrument_name:
              type: string
              description: e.g. BTCUSD-PERP
            data:
              type: array
              items:
                type: object
                properties:
                  bids:
                    type: array
                    items:
                      $ref: "#/components/schemas/BookSnapshotLevel"
                  asks:
                    type: array
                    items:
                      $ref: "#/components/schemas/BookSnapshotLevel"
        message:
          type: string
          description: Present when code !== 0.
        original:
          type: string
          description: Present when code !== 0.
    BookSnapshotLevel:
      type: array
      items:
        type: string
        format: decimal
      description: "[0] = Price, [1] = Quantity, [2] = Number of Orders. Known issue: Number of Orders currently returns 0."
